In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url_preds_rf = 'https://raw.githubusercontent.com/SantiagoTadini/TP2-Datos/main/preds_test_rf.csv'
url_preds_xgboost = 'https://raw.githubusercontent.com/SantiagoTadini/TP2-Datos/main/preds_test_xgb.csv'
url_preds_lgbm = 'https://raw.githubusercontent.com/SantiagoTadini/TP2-Datos/main/preds_test_lgbm.csv'

preds_rf = pd.read_csv(url_preds_rf)
preds_xgboost = pd.read_csv(url_preds_xgboost)
preds_lightgbm = pd.read_csv(url_preds_lgbm)

In [ ]:
url_preds_lgbm = 'https://raw.githubusercontent.com/joaquinhojman/ArbolesDeDecision/main/fusiones/preds_testLIGHTGBM_hyper5.csv'
url_preds_xgboost = 'https://raw.githubusercontent.com/joaquinhojman/ArbolesDeDecision/main/fusiones/preds_testxgb4.csv'

preds_xgboost = pd.read_csv(url_preds_xgboost)
preds_lightgbm = pd.read_csv(url_preds_lgbm)

In [ ]:
#preds_rf.rename(columns={'Target' : 'Prediccion1'}, inplace=True)
preds_xgboost.rename(columns={'Target' : 'XGBoost'}, inplace=True)
preds_lightgbm.rename(columns={'Target' : 'LightGBM'}, inplace=True)

In [ ]:
predicciones_combinadas = preds_xgboost.merge(preds_lightgbm, on='Opportunity_ID').reset_index()

In [ ]:
predicciones_combinadas

      index  Opportunity_ID   XGBoost  LightGBM
0         0           10689  0.635891  0.708252
1         1           10690  0.586675  0.652198
2         2           10691  0.213188  0.300327
3         3           10692  0.419037  0.635564
4         4           10693  0.919348  0.825354
...     ...             ...       ...       ...
1562   1562           12364  0.848123  0.629859
1563   1563           12365  0.303578  0.448052
1564   1564           12366  0.288932  0.370254
1565   1565           12367  0.130610  0.423484
1566   1566           12368  0.216268  0.501130

[1567 rows x 4 columns]

In [ ]:
# Con 60% a XGBoost y 40% a Random Forest --> 0.52664 en Kaggle
# Con 70% a LightGBM y 30% a XGBoost --> 0.49811 en Kaggle

#50% LightGBM + 50% XGBoost
predicciones_combinadas['Promedio'] = predicciones_combinadas['XGBoost'] * 0.5 + predicciones_combinadas['LightGBM'] * 0.5

In [ ]:
#predicciones_combinadas['Max'] = max(predicciones_combinadas['XGBoost'],predicciones_combinadas['LightGBM'])
def maximo(xgb,lgb):
  if xgb>=lgb:
    return xgb
  else:
    return lgb

In [ ]:
maximos = []
for i in range(0,1567):
  maximos.append(maximo(predicciones_combinadas['XGBoost'][i],predicciones_combinadas['LightGBM'][i]))

In [ ]:
from pandas import DataFrame

df_max = DataFrame(maximos,columns=['Max']).reset_index()
df_max

      index       Max
0         0  0.708252
1         1  0.652198
2         2  0.300327
3         3  0.635564
4         4  0.919348
...     ...       ...
1562   1562  0.848123
1563   1563  0.448052
1564   1564  0.370254
1565   1565  0.423484
1566   1566  0.501130

[1567 rows x 2 columns]

In [ ]:
predicciones_combinadas = predicciones_combinadas.merge(df_max)
predicciones_combinadas

      index  Opportunity_ID   XGBoost  LightGBM  Promedio       Max
0         0           10689  0.635891  0.708252  0.672071  0.708252
1         1           10690  0.586675  0.652198  0.619437  0.652198
2         2           10691  0.213188  0.300327  0.256757  0.300327
3         3           10692  0.419037  0.635564  0.527301  0.635564
4         4           10693  0.919348  0.825354  0.872351  0.919348
...     ...             ...       ...       ...       ...       ...
1562   1562           12364  0.848123  0.629859  0.738991  0.848123
1563   1563           12365  0.303578  0.448052  0.375815  0.448052
1564   1564           12366  0.288932  0.370254  0.329593  0.370254
1565   1565           12367  0.130610  0.423484  0.277047  0.423484
1566   1566           12368  0.216268  0.501130  0.358699  0.501130

[1567 rows x 6 columns]

In [ ]:
predicciones_combinadas_kaggle = predicciones_combinadas[['Opportunity_ID', 'Promedio']]

In [ ]:
predicciones_combinadas_kaggle.rename(columns={'Promedio' : 'Target'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
predicciones_combinadas_kaggle

      Opportunity_ID    Target
0              10689  0.672071
1              10690  0.619437
2              10691  0.256757
3              10692  0.527301
4              10693  0.872351
...              ...       ...
1562           12364  0.738991
1563           12365  0.375815
1564           12366  0.329593
1565           12367  0.277047
1566           12368  0.358699

[1567 rows x 2 columns]

In [ ]:
from google.colab import files
predicciones_combinadas_kaggle.to_csv('preds_test.csv', index=False, header=True)
files.download('preds_test.csv')