In [598]:
import pandas as pd
import datetime as dt
import numpy as np

In [599]:
# Como vimos en el TP1:

# En el read_csv, castear las variables a los tipos que corresponden.
# En el usecols sacar: 
#     * 'Submitted_for_Approval' (Un solo valor: 0)
#     * 'Last_Activity' (Todos nulos)
#     * 'ASP_(converted)_Currency' (Un solo valor: 'USD')
#     * 'Actual_Delivery_Date' (Todos nulos)
#     * 'Prod_Category_A' (Un solo valor: 'Prod_Category_A_None')
#     * 'Sales_Contract_No' (No permite que se realice el entrenamiento)
#     * 'Opportunity_Name' (Tiene correspondencia 1 a 1 con 'Opportunity_ID, es redundante)


# ESTAS SON COLUMNAS TODAVÍA ***NO*** ELIMINADAS:
#     * 'Brand' (Muchos nulos: 15911)
#     * 'Product_Type' (Muchos nulos: 15935)
#     * 'Size' (Muchos nulos: 15967)
#     * 'Product_Category_B' (Muchos nulos: 15928)
#     * 'Price' (Muchos nulos; 15982) ----------------> si ahora lo borramos, borrar celda del replace de Price
#     * 'Currency' (Muchos nulos: 16052)

In [600]:
# train = pd.read_csv("../Train_TP2_Datos_2020-2C.csv")
# test_kaggle = pd.read_csv("../Test_TP2_Datos_2020-2C.csv")

url_train = 'https://raw.githubusercontent.com/SantiagoTadini/TP2-Datos/main/Train_TP2_Datos_2020-2C.csv'
url_test_kaggle = 'https://raw.githubusercontent.com/SantiagoTadini/TP2-Datos/main/Test_TP2_Datos_2020-2C.csv'
train = pd.read_csv(url_train,\
                    usecols=['ID', 'Region', 'Territory', 'Pricing, Delivery_Terms_Quote_Appr',\
                          'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval', 'Bureaucratic_Code_0_Approved',\
                          'Bureaucratic_Code', 'Account_Created_Date', 'Source ', 'Billing_Country',\
                          'Account_Name', 'Opportunity_ID', 'Account_Owner',\
                          'Opportunity_Owner', 'Account_Type', 'Opportunity_Type', 'Quote_Type', 'Delivery_Terms',\
                          'Opportunity_Created_Date', 'Brand', 'Product_Type', 'Size', 'Product_Category_B', 'Price',\
                          'Currency', 'Quote_Expiry_Date', 'Last_Modified_Date', 'Last_Modified_By',\
                          'Product_Family', 'Product_Name', 'ASP_Currency', 'ASP', 'ASP_(converted)',\
                          'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date', 'Month', 'Delivery_Quarter',\
                          'Delivery_Year', 'TRF', 'Total_Amount_Currency', 'Total_Amount', 'Total_Taxable_Amount_Currency',\
                          'Total_Taxable_Amount', 'Stage'],\
                    dtype={
                          'Region' : 'category',
                          'Territory' : 'category',
                          'Bureaucratic_Code' : 'category',
                          'Source ' : 'category',
                          'Billing_Country' : 'category',
                          'Account_Name' : 'category',
                          'Account_Owner' : 'category',
                          'Opportunity_Owner' : 'category',
                          'Account_Type' : 'category',
                          'Opportunity_Type' : 'category',
                          'Quote_Type' : 'category',
                          'Delivery_Terms' : 'category',
                          'Brand' : 'category',
                          'Product_Type' : 'category',
                          'Size' : 'category',
                          'Product_Category_B' : 'category',
                          'Currency' : 'category',
                          'Last_Modified_By' : 'category',
                          'Product_Family' : 'category',
                          'Product_Name' : 'category',
                          'ASP_Currency' : 'category',
                          'Delivery_Quarter' : 'category',
                          'Total_Amount_Currency' : 'category',
                          'Total_Taxable_Amount_Currency' : 'category',
                          'Stage' : 'category'})
test_kaggle = pd.read_csv(url_test_kaggle,\
                          usecols=['ID', 'Region', 'Territory', 'Pricing, Delivery_Terms_Quote_Appr',\
                                  'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval', 'Bureaucratic_Code_0_Approved',\
                                  'Bureaucratic_Code', 'Account_Created_Date', 'Source ', 'Billing_Country',\
                                  'Account_Name', 'Opportunity_ID', 'Account_Owner',\
                                  'Opportunity_Owner', 'Account_Type', 'Opportunity_Type', 'Quote_Type', 'Delivery_Terms',\
                                  'Opportunity_Created_Date', 'Brand', 'Product_Type', 'Size', 'Product_Category_B', 'Price',\
                                  'Currency', 'Quote_Expiry_Date', 'Last_Modified_Date', 'Last_Modified_By',\
                                  'Product_Family', 'Product_Name', 'ASP_Currency', 'ASP', 'ASP_(converted)',\
                                  'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date', 'Month', 'Delivery_Quarter',\
                                  'Delivery_Year', 'TRF', 'Total_Amount_Currency', 'Total_Amount', 'Total_Taxable_Amount_Currency',\
                                  'Total_Taxable_Amount'],\
                            dtype={
                                  'Region' : 'category',
                                  'Territory' : 'category',
                                  'Bureaucratic_Code' : 'category',
                                  'Source ' : 'category',
                                  'Billing_Country' : 'category',
                                  'Account_Name' : 'category',
                                  'Account_Owner' : 'category',
                                  'Opportunity_Owner' : 'category',
                                  'Account_Type' : 'category',
                                  'Opportunity_Type' : 'category',
                                  'Quote_Type' : 'category',
                                  'Delivery_Terms' : 'category',
                                  'Brand' : 'category',
                                  'Product_Type' : 'category',
                                  'Size' : 'category',
                                  'Product_Category_B' : 'category',
                                  'Currency' : 'category',
                                  'Last_Modified_By' : 'category',
                                  'Product_Family' : 'category',
                                  'Product_Name' : 'category',
                                  'ASP_Currency' : 'category',
                                  'Delivery_Quarter' : 'category',
                                  'Total_Amount_Currency' : 'category',
                                  'Total_Taxable_Amount_Currency' : 'category'})

In [601]:
# Cantidad de columnas y filas de cada set de datos
print('Cantidad de columnas de train:', len(train.columns), 'y cantidad de filas de train:', len(train))
print('Cantidad de columnas de test_kaggle:', len(test_kaggle.columns), 'y cantidad de filas de test_kaggle:', len(test_kaggle))

Cantidad de columnas de train: 45 y cantidad de filas de train: 16947
Cantidad de columnas de test_kaggle: 44 y cantidad de filas de test_kaggle: 2551

In [602]:
# Sacar espacio del nombre de la columna 'Source'
train.rename(columns={'Source ' : 'Source', 'ASP_(converted)' : 'ASP_(converted_USD)'}, inplace=True)

test_kaggle.rename(columns={'Source ' : 'Source', 'ASP_(converted)' : 'ASP_(converted_USD)'}, inplace=True)

In [603]:
# Poner en la columna Month sólo el mes (que no aparezca el año)
train['Month'] = pd.to_datetime(train['Month'], format='%Y - %m').dt.month

test_kaggle['Month'] = pd.to_datetime(test_kaggle['Month'], format='%Y - %m').dt.month

In [604]:
# Pasar la columna 'Price' a numérico (incluídos los nulos)
train['Price'] = train['Price'].replace('None', np.NaN)
train['Price'] = train['Price'].replace('Other', np.NaN)
train['Price'] = train['Price'].astype('float')

test_kaggle['Price'] = test_kaggle['Price'].replace('None', np.NaN)
test_kaggle['Price'] = test_kaggle['Price'].replace('Other', np.NaN)
test_kaggle['Price'] = test_kaggle['Price'].astype('float')

In [605]:
# Pasar las columnas de fechas a formato datetime
formato_fecha = '%m/%d/%Y'
train['Account_Created_Date'] = pd.to_datetime(train['Account_Created_Date'], format=formato_fecha) # ver fecha fila 0
train['Opportunity_Created_Date'] = pd.to_datetime(train['Opportunity_Created_Date'], format=formato_fecha) # ver fecha fila 77
train['Quote_Expiry_Date'] = pd.to_datetime(train['Quote_Expiry_Date'], format=formato_fecha) # ver fecha fila 0
train['Last_Modified_Date'] = pd.to_datetime(train['Last_Modified_Date'], format=formato_fecha) # ver fecha fila 0
train['Planned_Delivery_Start_Date'] = pd.to_datetime(train['Planned_Delivery_Start_Date'], format=formato_fecha) # ver fechas filas 0 y 1, comparar el mes con month
train['Planned_Delivery_End_Date'] = pd.to_datetime(train['Planned_Delivery_End_Date'], format=formato_fecha) # ver fecha fila 0

test_kaggle['Account_Created_Date'] = pd.to_datetime(test_kaggle['Account_Created_Date'], format=formato_fecha) # ver fecha fila 0
test_kaggle['Opportunity_Created_Date'] = pd.to_datetime(test_kaggle['Opportunity_Created_Date'], format=formato_fecha) # ver fecha fila 77
test_kaggle['Quote_Expiry_Date'] = pd.to_datetime(test_kaggle['Quote_Expiry_Date'], format=formato_fecha) # ver fecha fila 0
test_kaggle['Last_Modified_Date'] = pd.to_datetime(test_kaggle['Last_Modified_Date'], format=formato_fecha) # ver fecha fila 0
test_kaggle['Planned_Delivery_Start_Date'] = pd.to_datetime(test_kaggle['Planned_Delivery_Start_Date'], format=formato_fecha) # ver fechas filas 0 y 1, comparar el mes con month
test_kaggle['Planned_Delivery_End_Date'] = pd.to_datetime(test_kaggle['Planned_Delivery_End_Date'], format=formato_fecha) # ver fecha fila 0

In [606]:
# train.info()

# test_kaggle.info()

Aquí ya no tenemos ningún feature de tipo object.

In [607]:
# train.head(10)

In [608]:
# test_kaggle.head(10)

Eliminamos las filas que no son Closed Won o Closed Lost de train

In [609]:
# Vemos los posibles valores que puede adoptar 'Stage'
train['Stage'].value_counts()

Closed Won       9533
Closed Lost      7350
Proposal           35
Negotiation        18
Qualification      11
Name: Stage, dtype: int64

In [610]:
# Tenemos que de 16947 filas en total, solo 64 (0.3776%) NO son Closed Won o Closed Lost, es por
# eso que eliminamos esas filas, su aporte es mínimo.
train.drop(train[(train['Stage'] != 'Closed Won') & (train['Stage'] != 'Closed Lost')].index, inplace=True)
train['Stage'].value_counts()

Closed Won       9533
Closed Lost      7350
Qualification       0
Proposal            0
Negotiation         0
Name: Stage, dtype: int64

## Precio en dolares

In [611]:
change_USD = 1 #1 dolar EEUU = 1 dolar EEUU
change_EUR = 1.1745 #1 euro = 1,1745 dolares EEUU
change_AUD = 0.71601 # 1 dolar australiano = 0.71601 dolar EEUU
change_JPY = 0.0094800 # 1 yen japones = 0,0094800 dolares EEUU
change_GBP = 1.2935 # 1 libra esterlina = 1,2935 dolares EEUU

In [612]:
filtro_USD_train = train['Total_Amount_Currency'] == 'USD'
filtro_EUR_train = train['Total_Amount_Currency'] == 'EUR'
filtro_AUD_train = train['Total_Amount_Currency'] == 'AUD'
filtro_JPY_train = train['Total_Amount_Currency'] == 'JPY'
filtro_GBP_train = train['Total_Amount_Currency'] == 'GBP'

In [613]:
train.loc[filtro_USD_train, 'USD_Total_Amount'] = train.loc[filtro_USD_train, 'Total_Amount']*change_USD
train.loc[filtro_EUR_train, 'USD_Total_Amount'] = train.loc[filtro_EUR_train, 'Total_Amount']*change_EUR
train.loc[filtro_AUD_train, 'USD_Total_Amount'] = train.loc[filtro_AUD_train, 'Total_Amount']*change_AUD
train.loc[filtro_JPY_train, 'USD_Total_Amount'] = train.loc[filtro_JPY_train, 'Total_Amount']*change_JPY
train.loc[filtro_GBP_train, 'USD_Total_Amount'] = train.loc[filtro_GBP_train, 'Total_Amount']*change_GBP

In [614]:
train['USD_Total_Amount'] = train['USD_Total_Amount'].round(2)

In [615]:
filtro_USD_test = test_kaggle['Total_Amount_Currency'] == 'USD'
filtro_EUR_test = test_kaggle['Total_Amount_Currency'] == 'EUR'
filtro_AUD_test = test_kaggle['Total_Amount_Currency'] == 'AUD'
filtro_JPY_test = test_kaggle['Total_Amount_Currency'] == 'JPY'
filtro_GBP_test = test_kaggle['Total_Amount_Currency'] == 'GBP'

In [616]:
test_kaggle.loc[filtro_USD_test, 'USD_Total_Amount'] = test_kaggle.loc[filtro_USD_test, 'Total_Amount']*change_USD
test_kaggle.loc[filtro_EUR_test, 'USD_Total_Amount'] = test_kaggle.loc[filtro_EUR_test, 'Total_Amount']*change_EUR
test_kaggle.loc[filtro_AUD_test, 'USD_Total_Amount'] = test_kaggle.loc[filtro_AUD_test, 'Total_Amount']*change_AUD
test_kaggle.loc[filtro_JPY_test, 'USD_Total_Amount'] = test_kaggle.loc[filtro_JPY_test, 'Total_Amount']*change_JPY
test_kaggle.loc[filtro_GBP_test, 'USD_Total_Amount'] = test_kaggle.loc[filtro_GBP_test, 'Total_Amount']*change_GBP

In [617]:
test_kaggle['USD_Total_Amount'] = test_kaggle['USD_Total_Amount'].round(2)

## Codificamos Stage con Binary Encoding

In [618]:
train['Target'] = train['Stage'].replace({'Closed Won': 1, 'Closed Lost': 0})

In [619]:
train['Target'].astype(int)

0        0
1        1
2        1
3        0
4        0
        ..
16942    1
16943    1
16944    1
16945    0
16946    0
Name: Target, Length: 16883, dtype: int64

In [620]:
train.drop(columns=['Stage'], inplace=True)

##Ordenamos según fecha de creación de la oportunidad y pasamos las fechas a números

In [621]:
# Ordenamos por fecha para no entrenar con el futuro
train.sort_values('Opportunity_Created_Date', ascending=True, inplace=True)
test_kaggle.sort_values('Opportunity_Created_Date', ascending=True, inplace=True)

In [622]:
train['Opportunity_Created_Date']

16104   2013-11-05
16105   2014-03-21
16106   2014-03-28
16107   2014-03-28
16109   2014-05-13
           ...
16099   2018-12-26
16100   2018-12-28
16103   2018-12-29
16101   2018-12-29
16102   2018-12-29
Name: Opportunity_Created_Date, Length: 16883, dtype: datetime64[ns]

In [623]:
test_kaggle['Opportunity_Created_Date']

718    2019-01-01
719    2019-01-01
726    2019-01-01
725    2019-01-01
720    2019-01-01
          ...
2545   2019-04-26
2546   2019-04-26
2547   2019-04-26
2548   2019-04-26
2550   2019-04-27
Name: Opportunity_Created_Date, Length: 2551, dtype: datetime64[ns]

In [624]:
# Pasamos las fechas a números para que queden como variables numéricas
train['Account_Created_Date'] = train['Account_Created_Date'].map(dt.datetime.toordinal)
train['Opportunity_Created_Date'] = train['Opportunity_Created_Date'].map(dt.datetime.toordinal)
train['Quote_Expiry_Date'] = train['Quote_Expiry_Date'].map(dt.datetime.toordinal)
train['Last_Modified_Date'] = train['Last_Modified_Date'].map(dt.datetime.toordinal)
train['Planned_Delivery_Start_Date'] = train['Planned_Delivery_Start_Date'].map(dt.datetime.toordinal)
train['Planned_Delivery_End_Date'] = train['Planned_Delivery_End_Date'].map(dt.datetime.toordinal)


test_kaggle['Account_Created_Date'] = test_kaggle['Account_Created_Date'].map(dt.datetime.toordinal)
test_kaggle['Opportunity_Created_Date'] = test_kaggle['Opportunity_Created_Date'].map(dt.datetime.toordinal)
test_kaggle['Quote_Expiry_Date'] = test_kaggle['Quote_Expiry_Date'].map(dt.datetime.toordinal)
test_kaggle['Last_Modified_Date'] = test_kaggle['Last_Modified_Date'].map(dt.datetime.toordinal)
test_kaggle['Planned_Delivery_Start_Date'] = test_kaggle['Planned_Delivery_Start_Date'].map(dt.datetime.toordinal)
test_kaggle['Planned_Delivery_End_Date'] = test_kaggle['Planned_Delivery_End_Date'].map(dt.datetime.toordinal)

## Separamos train en train y test

In [625]:
# Hacemos una separación del set de datos en:
#   * 80% para el set de train
#   * 20% para el set de test
ochenta_porciento = round(len(train) * 0.8) - 1

test = train.iloc[ochenta_porciento:, :]
train = train.iloc[:ochenta_porciento, :]

Verificamos que los tiempos sean correctos

In [626]:
# El primero de train sea menor al último de train
train.iloc[0, 19] < train.iloc[len(train) - 1, 19]

True

In [627]:
# El último de train sea menor al primero de test
train.iloc[len(train) -1, 19] < test.iloc[0, 19]

True

In [628]:
# El último de test sea menor al primero de test_kaggle
test.iloc[len(test) -1, 19] < test_kaggle.iloc[0, 19]

True

## Agregamos columnas

In [629]:
# Agregamos columna de cantidad de oportunidades Closed Won por Región hasta el momento

# train['Oport_CW_acum_por_region'] = train.groupby('Region').agg({'Target' : 'cumsum'}) - 1
# train['Oport_CW_acum_por_region'].replace(-1, 0, inplace=True)

# train[['Region', 'Oport_CW_acum_por_region', 'Target']]

In [630]:
# Agregamos columna de cantidad de oportunidades Closed Won por Product_Family hasta el momento

# train['Oport_CW_acum_por_product_family'] = train.groupby('Product_Family').agg({'Target' : 'cumsum'}) - 1
# train['Oport_CW_acum_por_product_family'].replace(-1, 0, inplace=True)

# train[['Product_Family', 'Oport_CW_acum_por_product_family', 'Target']]

In [631]:
# Agregamos columna de cantidad de oportunidades Closed Won por Product_Name hasta el momento

# train['Oport_CW_acum_por_product_name'] = train.groupby('Product_Name').agg({'Target' : 'cumsum'}) - 1
# train['Oport_CW_acum_por_product_name'].replace(-1, 0, inplace=True)

# train[['Product_Name', 'Oport_CW_acum_por_product_name', 'Target']]

## Mean encoding ------------> SI NO LES CAMBIAMOS EL TIPO A MANO, ALGUNAS QUEDAN EN CATEGORY, PERO CUANDO ABRE EL CSV EN EL MODELO ES NUMÉRICA.

In [632]:
train.info()
test.info()
test_kaggle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13505 entries, 16104 to 11509
Data columns (total 46 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  13505 non-null  int64
 1   Region                              13505 non-null  category
 2   Territory                           13505 non-null  category
 3   Pricing, Delivery_Terms_Quote_Appr  13505 non-null  int64
 4   Pricing, Delivery_Terms_Approved    13505 non-null  int64
 5   Bureaucratic_Code_0_Approval        13505 non-null  int64
 6   Bureaucratic_Code_0_Approved        13505 non-null  int64
 7   Bureaucratic_Code                   13505 non-null  category
 8   Account_Created_Date                13505 non-null  int64
 9   Source                              13505 non-null  category
 10  Billing_Country                     13505 non-null  category
 11  Account_Name                        13505 non-null  category
 12  Opportunity_ID                      13505 non-null  int64
 13  Account_Owner                       13505 non-null  category
 14  Opportunity_Owner                   13505 non-null  category
 15  Account_Type                        13505 non-null  category
 16  Opportunity_Type                    13505 non-null  category
 17  Quote_Type                          13505 non-null  category
 18  Delivery_Terms                      13505 non-null  category
 19  Opportunity_Created_Date            13505 non-null  int64
 20  Brand                               13505 non-null  category
 21  Product_Type                        13505 non-null  category
 22  Size                                13505 non-null  category
 23  Product_Category_B                  13505 non-null  category
 24  Price                               114 non-null    float64
 25  Currency                            13505 non-null  category
 26  Quote_Expiry_Date                   13505 non-null  int64
 27  Last_Modified_Date                  13505 non-null  int64
 28  Last_Modified_By                    13505 non-null  category
 29  Product_Family                      13505 non-null  category
 30  Product_Name                        13505 non-null  category
 31  ASP_Currency                        13505 non-null  category
 32  ASP                                 10730 non-null  float64
 33  ASP_(converted_USD)                 10730 non-null  float64
 34  Planned_Delivery_Start_Date         13505 non-null  int64
 35  Planned_Delivery_End_Date           13505 non-null  int64
 36  Month                               13505 non-null  int64
 37  Delivery_Quarter                    13505 non-null  category
 38  Delivery_Year                       13505 non-null  int64
 39  TRF                                 13505 non-null  int64
 40  Total_Amount_Currency               13505 non-null  category
 41  Total_Amount                        13446 non-null  float64
 42  Total_Taxable_Amount_Currency       13505 non-null  category
 43  Total_Taxable_Amount                13505 non-null  float64
 44  USD_Total_Amount                    13446 non-null  float64
 45  Target                              13505 non-null  int64
dtypes: category(24), float64(6), int64(16)
memory usage: 2.9 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3378 entries, 11511 to 16102
Data columns (total 46 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  3378 non-null   int64
 1   Region                              3378 non-null   category
 2   Territory                           3378 non-null   category
 3   Pricing, Delivery_Terms_Quote_Appr  3378 non-null   int64
 4   Pricing, Delivery_Terms_Approved    3378 non-null   int64
 5   Bureaucratic_Code_0_Approval        3378 non-null   int64
 6   Bureaucratic_Code_0_Approved        3378 non-null   int64
 7   Bureaucratic_Code                   3378 non-null   category
 8   Account_Created_Date                3378 non-null   int64
 9   Source                              3378 non-null   category
 10  Billing_Country                     3378 non-null   category
 11  Account_Name                        3378 non-null   category
 12  Opportunity_ID                      3378 non-null   int64
 13  Account_Owner                       3378 non-null   category
 14  Opportunity_Owner                   3378 non-null   category
 15  Account_Type                        3378 non-null   category
 16  Opportunity_Type                    3378 non-null   category
 17  Quote_Type                          3378 non-null   category
 18  Delivery_Terms                      3378 non-null   category
 19  Opportunity_Created_Date            3378 non-null   int64
 20  Brand                               3378 non-null   category
 21  Product_Type                        3378 non-null   category
 22  Size                                3378 non-null   category
 23  Product_Category_B                  3378 non-null   category
 24  Price                               242 non-null    float64
 25  Currency                            3378 non-null   category
 26  Quote_Expiry_Date                   3378 non-null   int64
 27  Last_Modified_Date                  3378 non-null   int64
 28  Last_Modified_By                    3378 non-null   category
 29  Product_Family                      3378 non-null   category
 30  Product_Name                        3378 non-null   category
 31  ASP_Currency                        3378 non-null   category
 32  ASP                                 2949 non-null   float64
 33  ASP_(converted_USD)                 2949 non-null   float64
 34  Planned_Delivery_Start_Date         3378 non-null   int64
 35  Planned_Delivery_End_Date           3378 non-null   int64
 36  Month                               3378 non-null   int64
 37  Delivery_Quarter                    3378 non-null   category
 38  Delivery_Year                       3378 non-null   int64
 39  TRF                                 3378 non-null   int64
 40  Total_Amount_Currency               3378 non-null   category
 41  Total_Amount                        3378 non-null   float64
 42  Total_Taxable_Amount_Currency       3378 non-null   category
 43  Total_Taxable_Amount                3378 non-null   float64
 44  USD_Total_Amount                    3378 non-null   float64
 45  Target                              3378 non-null   int64
dtypes: category(24), float64(6), int64(16)
memory usage: 845.3 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2551 entries, 718 to 2550
Data columns (total 45 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  2551 non-null   int64
 1   Region                              2551 non-null   category
 2   Territory                           2551 non-null   category
 3   Pricing, Delivery_Terms_Quote_Appr  2551 non-null   int64
 4   Pricing, Delivery_Terms_Approved    2551 non-null   int64
 5   Bureaucratic_Code_0_Approval        2551 non-null   int64
 6   Bureaucratic_Code_0_Approved        2551 non-null   int64
 7   Bureaucratic_Code                   2551 non-null   category
 8   Account_Created_Date                2551 non-null   int64
 9   Source                              2551 non-null   category
 10  Billing_Country                     2551 non-null   category
 11  Account_Name                        2551 non-null   category
 12  Opportunity_ID                      2551 non-null   int64
 13  Account_Owner                       2551 non-null   category
 14  Opportunity_Owner                   2551 non-null   category
 15  Account_Type                        2551 non-null   category
 16  Opportunity_Type                    2551 non-null   category
 17  Quote_Type                          2551 non-null   category
 18  Delivery_Terms                      2551 non-null   category
 19  Opportunity_Created_Date            2551 non-null   int64
 20  Brand                               2551 non-null   category
 21  Product_Type                        2551 non-null   category
 22  Size                                2551 non-null   category
 23  Product_Category_B                  2551 non-null   category
 24  Price                               160 non-null    float64
 25  Currency                            2551 non-null   category
 26  Quote_Expiry_Date                   2551 non-null   int64
 27  Last_Modified_Date                  2551 non-null   int64
 28  Last_Modified_By                    2551 non-null   category
 29  Product_Family                      2551 non-null   category
 30  Product_Name                        2551 non-null   category
 31  ASP_Currency                        2551 non-null   category
 32  ASP                                 2467 non-null   float64
 33  ASP_(converted_USD)                 2467 non-null   float64
 34  Planned_Delivery_Start_Date         2551 non-null   int64
 35  Planned_Delivery_End_Date           2551 non-null   int64
 36  Month                               2551 non-null   int64
 37  Delivery_Quarter                    2551 non-null   category
 38  Delivery_Year                       2551 non-null   int64
 39  TRF                                 2551 non-null   int64
 40  Total_Amount_Currency               2551 non-null   category
 41  Total_Amount                        2551 non-null   float64
 42  Total_Taxable_Amount_Currency       2551 non-null   category
 43  Total_Taxable_Amount                2551 non-null   float64
 44  USD_Total_Amount                    2551 non-null   float64
dtypes: category(24), float64(6), int64(15)
memory usage: 550.3 KB

Para variable 'Region'

In [633]:
mean_encoded_region = train.groupby(['Region'])['Target'].mean().to_dict()
train['Region'] =  train['Region'].map(mean_encoded_region)

test['Region'] = test['Region'].map(mean_encoded_region)

test_kaggle['Region'] = test_kaggle['Region'].map(mean_encoded_region)

Para variable 'Territory'

In [634]:
# Hay territorios en test y test_kaggle que no están en train --> como regularizador
# del Mean Encoding asignamos a esos territorios el código de 'None'
test.replace('Slovenia', 'None', inplace=True)
test_kaggle.replace(['Andorra', 'Finland', 'Mongolia'], 'None', inplace=True)

In [635]:
mean_encoded_territory = train.groupby(['Territory'])['Target'].mean().to_dict()
train['Territory'] = train['Territory'].map(mean_encoded_territory)

test['Territory'] = test['Territory'].map(mean_encoded_territory)

test_kaggle['Territory'] = test_kaggle['Territory'].map(mean_encoded_territory)

Para variable 'Bureaucratic_Code'

In [636]:
mean_encoded_bur_code = train.groupby(['Bureaucratic_Code'])['Target'].mean().to_dict()
train['Bureaucratic_Code'] =  train['Bureaucratic_Code'].map(mean_encoded_bur_code)

test['Bureaucratic_Code'] = test['Bureaucratic_Code'].map(mean_encoded_bur_code)

test_kaggle['Bureaucratic_Code'] = test_kaggle['Bureaucratic_Code'].map(mean_encoded_bur_code)

Para variable 'Source'

In [637]:
mean_encoded_source = train.groupby(['Source'])['Target'].mean().to_dict()
train['Source'] =  train['Source'].map(mean_encoded_source)

test['Source'] = test['Source'].map(mean_encoded_source)

test_kaggle['Source'] = test_kaggle['Source'].map(mean_encoded_source)

Para variable 'Billing_Country'

In [638]:
# Hay Billing_Country en test y test_kaggle que no están en train --> como regularizador
# del Mean Encoding asignamos a esos Billing_Country el código de 'None'

In [639]:
mean_encoded_billing_country = train.groupby(['Billing_Country'])['Target'].mean().to_dict()
train['Billing_Country'] =  train['Billing_Country'].map(mean_encoded_billing_country)

test['Billing_Country'] = test['Billing_Country'].map(mean_encoded_billing_country)

test_kaggle['Billing_Country'] = test_kaggle['Billing_Country'].map(mean_encoded_billing_country)

In [640]:
test['Billing_Country'].fillna(mean_encoded_billing_country['None'], inplace=True)

test_kaggle['Billing_Country'].fillna(mean_encoded_billing_country['None'], inplace=True)

Para variable 'Account_Name'

In [641]:
# Hay Account_Name en test y test_kaggle que no están en train --> como regularizador
# del Mean Encoding asignamos a esos Account_Name el código 0

In [642]:
mean_encoded_acc_name = train.groupby(['Account_Name'])['Target'].mean().to_dict()
train['Account_Name'] =  train['Account_Name'].map(mean_encoded_acc_name)

test['Account_Name'] = test['Account_Name'].map(mean_encoded_acc_name)

test_kaggle['Account_Name'] = test_kaggle['Account_Name'].map(mean_encoded_acc_name)

In [643]:
test['Account_Name'].fillna(0, inplace=True)
test_kaggle['Account_Name'].fillna(0, inplace=True)

In [644]:
# test['max_acc_by_territory_region'] = test.groupby(['Region', 'Territory'])['Account_Name'].transform(lambda x: x.fillna(x.mode(dropna=False)))
# test['max_acc_by_territory_region'].isna().value_counts()

In [645]:
# test.groupby('Territory')['Account_Name'].transform(lambda x: x.fillna(x.value_counts()[0]))

Para variable 'Account_Owner'

In [646]:
mean_encoded_acc_owner = train.groupby(['Account_Owner'])['Target'].mean().to_dict()
train['Account_Owner'] =  train['Account_Owner'].map(mean_encoded_acc_owner)

test['Account_Owner'] = test['Account_Owner'].map(mean_encoded_acc_owner)

test_kaggle['Account_Owner'] = test_kaggle['Account_Owner'].map(mean_encoded_acc_owner)

Para variable 'Opportunity_Owner'

In [647]:
# Hay Opportunity_Owner en test y test_kaggle que no están en train --> como regularizador
# del Mean Encoding asignamos a esos Opportunity_Owner el código 0

In [648]:
mean_encoded_opp_owner = train.groupby(['Opportunity_Owner'])['Target'].mean().to_dict()
train['Opportunity_Owner'] =  train['Opportunity_Owner'].map(mean_encoded_opp_owner)

test['Opportunity_Owner'] = test['Opportunity_Owner'].map(mean_encoded_opp_owner)

test_kaggle['Opportunity_Owner'] = test_kaggle['Opportunity_Owner'].map(mean_encoded_opp_owner)

In [649]:
test['Opportunity_Owner'].fillna(0, inplace=True)
test_kaggle['Opportunity_Owner'].fillna(0, inplace=True)

In [650]:
# test[test['Opportunity_Owner'].isna()].groupby('Opportunity_ID').agg({'Region' : 'value_counts'})

Para variable 'Account_Type' (no hay nulos)

In [651]:
mean_encoded_acc_type = train.groupby(['Account_Type'])['Target'].mean().to_dict()
train['Account_Type'] =  train['Account_Type'].map(mean_encoded_acc_type)

test['Account_Type'] = test['Account_Type'].map(mean_encoded_acc_type)

test_kaggle['Account_Type'] = test_kaggle['Account_Type'].map(mean_encoded_acc_type)

Para variable 'Opportunity_Type'

In [652]:
# Hay Opportunity_Type en test que no están en train --> como regularizador
# del Mean Encoding asignamos a esos Opportunity_Owner el código 0

In [653]:
mean_encoded_opp_type = train.groupby(['Opportunity_Type'])['Target'].mean().to_dict()
train['Opportunity_Type'] =  train['Opportunity_Type'].map(mean_encoded_opp_type)

test['Opportunity_Type'] = test['Opportunity_Type'].map(mean_encoded_opp_type)

test_kaggle['Opportunity_Type'] = test_kaggle['Opportunity_Type'].map(mean_encoded_opp_type)

In [654]:
test['Opportunity_Type'].fillna(0, inplace=True)

Para variable 'Quote_Type'

In [655]:
mean_encoded_quote_type = train.groupby(['Quote_Type'])['Target'].mean().to_dict()
train['Quote_Type'] =  train['Quote_Type'].map(mean_encoded_quote_type)

test['Quote_Type'] = test['Quote_Type'].map(mean_encoded_quote_type)

test_kaggle['Quote_Type'] = test_kaggle['Quote_Type'].map(mean_encoded_quote_type)

Para variable 'Delivery_Terms'

In [656]:
mean_encoded_delivey_terms = train.groupby(['Delivery_Terms'])['Target'].mean().to_dict()
train['Delivery_Terms'] =  train['Delivery_Terms'].map(mean_encoded_delivey_terms)

test['Delivery_Terms'] = test['Delivery_Terms'].map(mean_encoded_delivey_terms)

test_kaggle['Delivery_Terms'] = test_kaggle['Delivery_Terms'].map(mean_encoded_delivey_terms)

Para variable 'Brand'

In [657]:
# Hay Brand en test y test_kaggle que no están en train --> como regularizador
# del Mean Encoding asignamos a esos Brand el código de 'None'

In [658]:
mean_encoded_brand = train.groupby(['Brand'])['Target'].mean().to_dict()
train['Brand'] =  train['Brand'].map(mean_encoded_brand)

test['Brand'] = test['Brand'].map(mean_encoded_brand)

test_kaggle['Brand'] = test_kaggle['Brand'].map(mean_encoded_brand)

In [659]:
test['Brand'].fillna(mean_encoded_brand['None'], inplace=True)

test_kaggle['Brand'].fillna(mean_encoded_brand['None'], inplace=True)

Para variable 'Product_Type'

In [660]:
mean_encoded_prod_type = train.groupby(['Product_Type'])['Target'].mean().to_dict()
train['Product_Type'] =  train['Product_Type'].map(mean_encoded_prod_type)

test['Product_Type'] = test['Product_Type'].map(mean_encoded_prod_type)

test_kaggle['Product_Type'] = test_kaggle['Product_Type'].map(mean_encoded_prod_type)

Para variable 'Size'

In [661]:
# Hay Brand en test que no están en train --> como regularizador
# del Mean Encoding asignamos a esas Size el código de 'None'

In [662]:
mean_encoded_size = train.groupby(['Size'])['Target'].mean().to_dict()
train['Size'] =  train['Size'].map(mean_encoded_size)

test['Size'] = test['Size'].map(mean_encoded_size)

test_kaggle['Size'] = test_kaggle['Size'].map(mean_encoded_size)

In [663]:
test['Size'].fillna(mean_encoded_size['None'], inplace=True)

Para variable 'Product_Category_B'

In [664]:
# Hay Product_Category_B en test que no están en train --> como regularizador del 
# Mean Encoding asignamos a esos Product_Category_B el código de 'None'

In [665]:
mean_encoded_prod_cat_b = train.groupby(['Product_Category_B'])['Target'].mean().to_dict()
train['Product_Category_B'] =  train['Product_Category_B'].map(mean_encoded_prod_cat_b)

test['Product_Category_B'] = test['Product_Category_B'].map(mean_encoded_prod_cat_b)

test_kaggle['Product_Category_B'] = test_kaggle['Product_Category_B'].map(mean_encoded_prod_cat_b)

In [666]:
test['Product_Category_B'].fillna(mean_encoded_prod_cat_b['None'], inplace=True)

test_kaggle['Product_Category_B'].fillna(mean_encoded_prod_cat_b['None'], inplace=True)

Para variable 'Currency'

In [667]:
mean_encoded_currency = train.groupby(['Currency'])['Target'].mean().to_dict()
train['Currency'] =  train['Currency'].map(mean_encoded_currency)

test['Currency'] = test['Currency'].map(mean_encoded_currency)

test_kaggle['Currency'] = test_kaggle['Currency'].map(mean_encoded_currency)

Para variable 'Last_Modified_By'

In [668]:
# Hay Last_Modified_By en test y test_kaggle que no están en train --> como
# regularizador del Mean Encoding asignamos a esos Last_Modified_By el código 0

In [669]:
mean_encoded_last_modified_by = train.groupby(['Last_Modified_By'])['Target'].mean().to_dict()
train['Last_Modified_By'] =  train['Last_Modified_By'].map(mean_encoded_last_modified_by)

test['Last_Modified_By'] = test['Last_Modified_By'].map(mean_encoded_last_modified_by)

test_kaggle['Last_Modified_By'] = test_kaggle['Last_Modified_By'].map(mean_encoded_last_modified_by)

In [670]:
test['Last_Modified_By'].fillna(0, inplace=True)

test_kaggle['Last_Modified_By'].fillna(0, inplace=True)

In [671]:
# test[test['Last_Modified_By'].isna()].groupby('Opportunity_ID').agg({'Region' : 'value_counts'})

Para variable 'Product_Family'

In [672]:
# Hay Product_Family en test y test_kaggle que no están en train --> como
# regularizador del Mean Encoding asignamos a esos Product_Family el código 0

In [673]:
mean_encoded_prod_family = train.groupby(['Product_Family'])['Target'].mean().to_dict()
train['Product_Family'] =  train['Product_Family'].map(mean_encoded_prod_family)

test['Product_Family'] = test['Product_Family'].map(mean_encoded_prod_family)

test_kaggle['Product_Family'] = test_kaggle['Product_Family'].map(mean_encoded_prod_family)

In [674]:
test['Product_Family'].fillna(0, inplace=True)

test_kaggle['Product_Family'].fillna(0, inplace=True)

In [675]:
# test[test['Product_Family'].isna()].groupby('Opportunity_ID').agg({'Region' : 'value_counts'})

Para varaible 'Product_Name'

In [676]:
# Hay Product_Name en test y test_kaggle que no están en train --> como
# regularizador del Mean Encoding asignamos a esos Product_Name el código 0

In [677]:
mean_encoded_prod_name = train.groupby(['Product_Name'])['Target'].mean().to_dict()
train['Product_Name'] =  train['Product_Name'].map(mean_encoded_prod_name)

test['Product_Name'] = test['Product_Name'].map(mean_encoded_prod_name)

test_kaggle['Product_Name'] = test_kaggle['Product_Name'].map(mean_encoded_prod_name)

In [678]:
test['Product_Name'].fillna(0, inplace=True)

test_kaggle['Product_Name'].fillna(0, inplace=True)

In [679]:
# test[test['Product_Name'].isna()].groupby('Opportunity_ID').agg({'Region' : 'value_counts'})

Para variable 'ASP_Currency'

In [680]:
mean_encoded_asp_currency = train.groupby(['ASP_Currency'])['Target'].mean().to_dict()
train['ASP_Currency'] =  train['ASP_Currency'].map(mean_encoded_asp_currency)

test['ASP_Currency'] = test['ASP_Currency'].map(mean_encoded_asp_currency)

test_kaggle['ASP_Currency'] = test_kaggle['ASP_Currency'].map(mean_encoded_asp_currency)

Para variable 'Delivery_Quarter'

In [681]:
mean_encoded_delivery_quarter = train.groupby(['Delivery_Quarter'])['Target'].mean().to_dict()
train['Delivery_Quarter'] =  train['Delivery_Quarter'].map(mean_encoded_delivery_quarter)

test['Delivery_Quarter'] = test['Delivery_Quarter'].map(mean_encoded_delivery_quarter)

test_kaggle['Delivery_Quarter'] = test_kaggle['Delivery_Quarter'].map(mean_encoded_delivery_quarter)

Para varaible 'Total_Amount_Currency'

In [682]:
mean_encoded_total_amount_currency = train.groupby(['Total_Amount_Currency'])['Target'].mean().to_dict()
train['Total_Amount_Currency'] =  train['Total_Amount_Currency'].map(mean_encoded_total_amount_currency)

test['Total_Amount_Currency'] = test['Total_Amount_Currency'].map(mean_encoded_total_amount_currency)

test_kaggle['Total_Amount_Currency'] = test_kaggle['Total_Amount_Currency'].map(mean_encoded_total_amount_currency)

Para variable 'Total_Taxable_Amount_Currency'

In [683]:
mean_encoded_total_tax_amount_currency = train.groupby(['Total_Taxable_Amount_Currency'])['Target'].mean().to_dict()
train['Total_Taxable_Amount_Currency'] =  train['Total_Taxable_Amount_Currency'].map(mean_encoded_total_tax_amount_currency)

test['Total_Taxable_Amount_Currency'] = test['Total_Taxable_Amount_Currency'].map(mean_encoded_total_tax_amount_currency)

test_kaggle['Total_Taxable_Amount_Currency'] = test_kaggle['Total_Taxable_Amount_Currency'].map(mean_encoded_total_tax_amount_currency)

## Analizamos los valores nulos de las columnas

In [684]:
# train.info()
# test.info()
# test_kaggle.info()

Podemos ver que quedan los siguientes nulos:

    * 'Price' (train/test/test_kaggle)
    * 'Total_Amount' (train)
    * 'USD_Total_Amount' (train)
    * 'ASP' (train/test/test_kaggle)
    * 'ASP_(converted_USD)' (train/test/test_kaggle)

In [685]:
# 1) 'Price' (train/test/test_kaggle) --> como tiene tantos nulos (99%/92.8%/93.7%
# respectivamente), decidimos eliminar la columna en todos los set de datos
train.drop(columns = ['Price'], inplace=True)
test.drop(columns = ['Price'], inplace=True)
test_kaggle.drop(columns = ['Price'], inplace=True)

In [686]:
# 2) 'Total_Amount' (train)
# 3) 'USD_Total_Amount' (train) -->
# Ambas tienen una relación uno a uno por ser lo mismo pero expresado en monedas distintas.
# Los porcentajes de nulos son (0.4368%, ambas columnas igual). Dada la poca cantidad de
# filas que son (59), decidimos eliminarlas.
train = train[train['Total_Amount'].notna()]

In [687]:
# 4) 'ASP' (train/test/test_kaggle)
# 5) 'ASP_(converted_USD)' (train/test/test_kaggle) -->
# Ambas tienen una relación uno a uno por ser lo mismo pero expresado en monedas distintas.
# Los porcentajes de nulos son (20.5%/12.7%/3.29% respectivamente y ambas columnas igual). 
(train['ASP'] < 0).value_counts()         #--> todos False
(test['ASP'] < 0).value_counts()          #--> todos False
(test_kaggle['ASP'] < 0).value_counts()   #--> todos False

False    2551
Name: ASP, dtype: int64

In [688]:
# Entonces decidimos llenar esos nulos con un valor distinto al resto, en este caso
# un -1, dado que no hay ningún elemento no nulo en esa columna que sea menor a 0.

# train['ASP'].fillna(0, inplace=True)
# train['ASP_(converted_USD)'].fillna(0, inplace=True)
# test['ASP'].fillna(0, inplace=True)
# test['ASP_(converted_USD)'].fillna(0, inplace=True)
# test_kaggle['ASP'].fillna(0, inplace=True)
# test_kaggle['ASP_(converted_USD)'].fillna(0, inplace=True)

In [689]:
from numpy import isnan
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imputer = IterativeImputer()
# fit on the dataset
imputer.fit(train)
# transform the dataset
Xtrans = imputer.transform(train)
train = pd.DataFrame(data = Xtrans, columns = train.columns)

# fit on the dataset
imputer.fit(test)
# transform the dataset
Xtrans = imputer.transform(test)
test = pd.DataFrame(data = Xtrans, columns = test.columns)

# fit on the dataset
imputer.fit(test_kaggle)
# transform the dataset
Xtrans = imputer.transform(test_kaggle)
test_kaggle = pd.DataFrame(data = Xtrans, columns = test_kaggle.columns)

In [690]:
# Verificamos que todos los valores de los 3 set de datos sean NO nulos (la suma debe dar 0)
train.isnull().sum().sum() + test.isnull().sum().sum() + test_kaggle.isnull().sum().sum()

0

##Finalmente guardamos el dataframe train en un csv

In [691]:
from google.colab import files
train.to_csv('data_train.csv', index=False)
files.download('data_train.csv')

test.to_csv('data_test.csv', index=False)
files.download('data_test.csv')

test_kaggle.to_csv('data_test_kaggle.csv', index=False)
files.download('data_test_kaggle.csv')