In [67]:
import pandas as pd
import datetime as dt
import numpy as np

In [68]:
# Como vimos en el TP1:

# En el read_csv, castear las variables a los tipos que corresponden.
# En el usecols sacar: 
#     * 'Submitted_for_Approval' (Un solo valor: 0)
#     * 'Last_Activity' (Todos nulos)
#     * 'ASP_(converted)_Currency' (Un solo valor: 'USD')
#     * 'Actual_Delivery_Date' (Todos nulos)
#     * 'Prod_Category_A' (Un solo valor: 'Prod_Category_A_None')
#     * 'Sales_Contract_No' (No permite que se realice el entrenamiento)
#     * 'Opportunity_Name' (Tiene correspondencia 1 a 1 con 'Opportunity_ID, es redundante)


# ESTAS SON COLUMNAS TODAVÍA ***NO*** ELIMINADAS:
#     * 'Brand' (Muchos nulos: 15911)
#     * 'Product_Type' (Muchos nulos: 15935)
#     * 'Size' (Muchos nulos: 15967)
#     * 'Product_Category_B' (Muchos nulos: 15928)
#     * 'Price' (Muchos nulos; 15982) ----------------> si ahora lo borramos, borrar celda del replace de Price
#     * 'Currency' (Muchos nulos: 16052)

In [69]:
# train = pd.read_csv("../Train_TP2_Datos_2020-2C.csv")
# test_kaggle = pd.read_csv("../Test_TP2_Datos_2020-2C.csv")

url_train = 'https://raw.githubusercontent.com/SantiagoTadini/TP2-Datos/main/Train_TP2_Datos_2020-2C.csv'
url_test_kaggle = 'https://raw.githubusercontent.com/SantiagoTadini/TP2-Datos/main/Test_TP2_Datos_2020-2C.csv'
train = pd.read_csv(url_train,\
                    usecols=['ID', 'Region', 'Territory', 'Pricing, Delivery_Terms_Quote_Appr',\
                          'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval', 'Bureaucratic_Code_0_Approved',\
                          'Bureaucratic_Code', 'Account_Created_Date', 'Source ', 'Billing_Country',\
                          'Account_Name', 'Opportunity_ID', 'Account_Owner',\
                          'Opportunity_Owner', 'Account_Type', 'Opportunity_Type', 'Quote_Type', 'Delivery_Terms',\
                          'Opportunity_Created_Date', 'Brand', 'Product_Type', 'Size', 'Product_Category_B', 'Price',\
                          'Currency', 'Quote_Expiry_Date', 'Last_Modified_Date', 'Last_Modified_By',\
                          'Product_Family', 'Product_Name', 'ASP_Currency', 'ASP', 'ASP_(converted)',\
                          'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date', 'Month', 'Delivery_Quarter',\
                          'Delivery_Year', 'TRF', 'Total_Amount_Currency', 'Total_Amount', 'Total_Taxable_Amount_Currency',\
                          'Total_Taxable_Amount', 'Stage'],\
                    dtype={
                          'Region' : 'category',
                          'Territory' : 'category',
                          'Bureaucratic_Code' : 'category',
                          'Source ' : 'category',
                          'Billing_Country' : 'category',
                          'Account_Name' : 'category',
                          'Account_Owner' : 'category',
                          'Opportunity_Owner' : 'category',
                          'Account_Type' : 'category',
                          'Opportunity_Type' : 'category',
                          'Quote_Type' : 'category',
                          'Delivery_Terms' : 'category',
                          'Brand' : 'category',
                          'Product_Type' : 'category',
                          'Size' : 'category',
                          'Product_Category_B' : 'category',
                          'Currency' : 'category',
                          'Last_Modified_By' : 'category',
                          'Product_Family' : 'category',
                          'Product_Name' : 'category',
                          'ASP_Currency' : 'category',
                          'Delivery_Quarter' : 'category',
                          'Total_Amount_Currency' : 'category',
                          'Total_Taxable_Amount_Currency' : 'category',
                          'Stage' : 'category'})
test_kaggle = pd.read_csv(url_test_kaggle,\
                          usecols=['ID', 'Region', 'Territory', 'Pricing, Delivery_Terms_Quote_Appr',\
                                  'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval', 'Bureaucratic_Code_0_Approved',\
                                  'Bureaucratic_Code', 'Account_Created_Date', 'Source ', 'Billing_Country',\
                                  'Account_Name', 'Opportunity_ID', 'Account_Owner',\
                                  'Opportunity_Owner', 'Account_Type', 'Opportunity_Type', 'Quote_Type', 'Delivery_Terms',\
                                  'Opportunity_Created_Date', 'Brand', 'Product_Type', 'Size', 'Product_Category_B', 'Price',\
                                  'Currency', 'Quote_Expiry_Date', 'Last_Modified_Date', 'Last_Modified_By',\
                                  'Product_Family', 'Product_Name', 'ASP_Currency', 'ASP', 'ASP_(converted)',\
                                  'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date', 'Month', 'Delivery_Quarter',\
                                  'Delivery_Year', 'TRF', 'Total_Amount_Currency', 'Total_Amount', 'Total_Taxable_Amount_Currency',\
                                  'Total_Taxable_Amount'],\
                            dtype={
                                  'Region' : 'category',
                                  'Territory' : 'category',
                                  'Bureaucratic_Code' : 'category',
                                  'Source ' : 'category',
                                  'Billing_Country' : 'category',
                                  'Account_Name' : 'category',
                                  'Account_Owner' : 'category',
                                  'Opportunity_Owner' : 'category',
                                  'Account_Type' : 'category',
                                  'Opportunity_Type' : 'category',
                                  'Quote_Type' : 'category',
                                  'Delivery_Terms' : 'category',
                                  'Brand' : 'category',
                                  'Product_Type' : 'category',
                                  'Size' : 'category',
                                  'Product_Category_B' : 'category',
                                  'Currency' : 'category',
                                  'Last_Modified_By' : 'category',
                                  'Product_Family' : 'category',
                                  'Product_Name' : 'category',
                                  'ASP_Currency' : 'category',
                                  'Delivery_Quarter' : 'category',
                                  'Total_Amount_Currency' : 'category',
                                  'Total_Taxable_Amount_Currency' : 'category'})

In [70]:
# Cantidad de columnas y filas de cada set de datos
print('Cantidad de columnas de train:', len(train.columns), 'y cantidad de filas de train:', len(train))
print('Cantidad de columnas de test_kaggle:', len(test_kaggle.columns), 'y cantidad de filas de test_kaggle:', len(test_kaggle))

Cantidad de columnas de train: 45 y cantidad de filas de train: 16947
Cantidad de columnas de test_kaggle: 44 y cantidad de filas de test_kaggle: 2551

In [71]:
# Sacar espacio del nombre de la columna 'Source'
train.rename(columns={'Source ' : 'Source', 'ASP_(converted)' : 'ASP_(converted_USD)'}, inplace=True)

test_kaggle.rename(columns={'Source ' : 'Source', 'ASP_(converted)' : 'ASP_(converted_USD)'}, inplace=True)

In [72]:
# Poner en la columna Month sólo el mes (que no aparezca el año)
train['Month'] = pd.to_datetime(train['Month'], format='%Y - %m').dt.month

test_kaggle['Month'] = pd.to_datetime(test_kaggle['Month'], format='%Y - %m').dt.month

In [73]:
# Pasar la columna 'Price' a numérico (incluídos los nulos)
train['Price'] = train['Price'].replace('None', np.NaN)
train['Price'] = train['Price'].replace('Other', np.NaN)
train['Price'] = train['Price'].astype('float')

test_kaggle['Price'] = test_kaggle['Price'].replace('None', np.NaN)
test_kaggle['Price'] = test_kaggle['Price'].replace('Other', np.NaN)
test_kaggle['Price'] = test_kaggle['Price'].astype('float')

In [74]:
# Pasar las columnas de fechas a formato datetime
formato_fecha = '%m/%d/%Y'
train['Account_Created_Date'] = pd.to_datetime(train['Account_Created_Date'], format=formato_fecha) # ver fecha fila 0
train['Opportunity_Created_Date'] = pd.to_datetime(train['Opportunity_Created_Date'], format=formato_fecha) # ver fecha fila 77
train['Quote_Expiry_Date'] = pd.to_datetime(train['Quote_Expiry_Date'], format=formato_fecha) # ver fecha fila 0
train['Last_Modified_Date'] = pd.to_datetime(train['Last_Modified_Date'], format=formato_fecha) # ver fecha fila 0
train['Planned_Delivery_Start_Date'] = pd.to_datetime(train['Planned_Delivery_Start_Date'], format=formato_fecha) # ver fechas filas 0 y 1, comparar el mes con month
train['Planned_Delivery_End_Date'] = pd.to_datetime(train['Planned_Delivery_End_Date'], format=formato_fecha) # ver fecha fila 0

test_kaggle['Account_Created_Date'] = pd.to_datetime(test_kaggle['Account_Created_Date'], format=formato_fecha) # ver fecha fila 0
test_kaggle['Opportunity_Created_Date'] = pd.to_datetime(test_kaggle['Opportunity_Created_Date'], format=formato_fecha) # ver fecha fila 77
test_kaggle['Quote_Expiry_Date'] = pd.to_datetime(test_kaggle['Quote_Expiry_Date'], format=formato_fecha) # ver fecha fila 0
test_kaggle['Last_Modified_Date'] = pd.to_datetime(test_kaggle['Last_Modified_Date'], format=formato_fecha) # ver fecha fila 0
test_kaggle['Planned_Delivery_Start_Date'] = pd.to_datetime(test_kaggle['Planned_Delivery_Start_Date'], format=formato_fecha) # ver fechas filas 0 y 1, comparar el mes con month
test_kaggle['Planned_Delivery_End_Date'] = pd.to_datetime(test_kaggle['Planned_Delivery_End_Date'], format=formato_fecha) # ver fecha fila 0

In [75]:
# train.info()

# test_kaggle.info()

Aquí ya no tenemos ningún feature de tipo object.

In [76]:
# train.head(10)

In [77]:
# test_kaggle.head(10)

Eliminamos las filas que no son Closed Won o Closed Lost de train

In [78]:
# Vemos los posibles valores que puede adoptar 'Stage'
train['Stage'].value_counts()

Closed Won       9533
Closed Lost      7350
Proposal           35
Negotiation        18
Qualification      11
Name: Stage, dtype: int64

In [79]:
# Tenemos que de 16947 filas en total, solo 64 (0.3776%) NO son Closed Won o Closed Lost, es por
# eso que eliminamos esas filas, su aporte es mínimo.
train.drop(train[(train['Stage'] != 'Closed Won') & (train['Stage'] != 'Closed Lost')].index, inplace=True)
train['Stage'].value_counts()

Closed Won       9533
Closed Lost      7350
Qualification       0
Proposal            0
Negotiation         0
Name: Stage, dtype: int64

## Precio en dolares

In [80]:
change_USD = 1 #1 dolar EEUU = 1 dolar EEUU
change_EUR = 1.1745 #1 euro = 1,1745 dolares EEUU
change_AUD = 0.71601 # 1 dolar australiano = 0.71601 dolar EEUU
change_JPY = 0.0094800 # 1 yen japones = 0,0094800 dolares EEUU
change_GBP = 1.2935 # 1 libra esterlina = 1,2935 dolares EEUU

In [81]:
filtro_USD_train = train['Total_Amount_Currency'] == 'USD'
filtro_EUR_train = train['Total_Amount_Currency'] == 'EUR'
filtro_AUD_train = train['Total_Amount_Currency'] == 'AUD'
filtro_JPY_train = train['Total_Amount_Currency'] == 'JPY'
filtro_GBP_train = train['Total_Amount_Currency'] == 'GBP'

In [82]:
train.loc[filtro_USD_train, 'USD_Total_Amount'] = train.loc[filtro_USD_train, 'Total_Amount']*change_USD
train.loc[filtro_EUR_train, 'USD_Total_Amount'] = train.loc[filtro_EUR_train, 'Total_Amount']*change_EUR
train.loc[filtro_AUD_train, 'USD_Total_Amount'] = train.loc[filtro_AUD_train, 'Total_Amount']*change_AUD
train.loc[filtro_JPY_train, 'USD_Total_Amount'] = train.loc[filtro_JPY_train, 'Total_Amount']*change_JPY
train.loc[filtro_GBP_train, 'USD_Total_Amount'] = train.loc[filtro_GBP_train, 'Total_Amount']*change_GBP

In [83]:
train['USD_Total_Amount'] = train['USD_Total_Amount'].round(2)

In [84]:
filtro_USD_test = test_kaggle['Total_Amount_Currency'] == 'USD'
filtro_EUR_test = test_kaggle['Total_Amount_Currency'] == 'EUR'
filtro_AUD_test = test_kaggle['Total_Amount_Currency'] == 'AUD'
filtro_JPY_test = test_kaggle['Total_Amount_Currency'] == 'JPY'
filtro_GBP_test = test_kaggle['Total_Amount_Currency'] == 'GBP'

In [85]:
test_kaggle.loc[filtro_USD_test, 'USD_Total_Amount'] = test_kaggle.loc[filtro_USD_test, 'Total_Amount']*change_USD
test_kaggle.loc[filtro_EUR_test, 'USD_Total_Amount'] = test_kaggle.loc[filtro_EUR_test, 'Total_Amount']*change_EUR
test_kaggle.loc[filtro_AUD_test, 'USD_Total_Amount'] = test_kaggle.loc[filtro_AUD_test, 'Total_Amount']*change_AUD
test_kaggle.loc[filtro_JPY_test, 'USD_Total_Amount'] = test_kaggle.loc[filtro_JPY_test, 'Total_Amount']*change_JPY
test_kaggle.loc[filtro_GBP_test, 'USD_Total_Amount'] = test_kaggle.loc[filtro_GBP_test, 'Total_Amount']*change_GBP

In [86]:
test_kaggle['USD_Total_Amount'] = test_kaggle['USD_Total_Amount'].round(2)

## Codificamos Stage con Binary Encoding

In [87]:
train['Target'] = train['Stage'].replace({'Closed Won': 1, 'Closed Lost': 0})

In [88]:
train['Target'].astype(int)

0        0
1        1
2        1
3        0
4        0
        ..
16942    1
16943    1
16944    1
16945    0
16946    0
Name: Target, Length: 16883, dtype: int32

In [89]:
train.drop(columns=['Stage'], inplace=True)

## Ordenamos según fecha de creación de la oportunidad y pasamos las fechas a números

In [90]:
# Ordenamos por fecha para no entrenar con el futuro
train.sort_values('Opportunity_Created_Date', ascending=True, inplace=True)
test_kaggle.sort_values('Opportunity_Created_Date', ascending=True, inplace=True)

In [91]:
train['Opportunity_Created_Date']

16104   2013-11-05
16105   2014-03-21
16106   2014-03-28
16107   2014-03-28
16109   2014-05-13
           ...
16099   2018-12-26
16100   2018-12-28
16103   2018-12-29
16101   2018-12-29
16102   2018-12-29
Name: Opportunity_Created_Date, Length: 16883, dtype: datetime64[ns]

In [92]:
test_kaggle['Opportunity_Created_Date']

718    2019-01-01
719    2019-01-01
726    2019-01-01
725    2019-01-01
720    2019-01-01
          ...
2545   2019-04-26
2546   2019-04-26
2547   2019-04-26
2548   2019-04-26
2550   2019-04-27
Name: Opportunity_Created_Date, Length: 2551, dtype: datetime64[ns]

In [93]:
# Pasamos las fechas a números para que queden como variables numéricas
train['Account_Created_Date'] = train['Account_Created_Date'].map(dt.datetime.toordinal)
train['Opportunity_Created_Date'] = train['Opportunity_Created_Date'].map(dt.datetime.toordinal)
train['Quote_Expiry_Date'] = train['Quote_Expiry_Date'].map(dt.datetime.toordinal)
train['Last_Modified_Date'] = train['Last_Modified_Date'].map(dt.datetime.toordinal)
train['Planned_Delivery_Start_Date'] = train['Planned_Delivery_Start_Date'].map(dt.datetime.toordinal)
train['Planned_Delivery_End_Date'] = train['Planned_Delivery_End_Date'].map(dt.datetime.toordinal)


test_kaggle['Account_Created_Date'] = test_kaggle['Account_Created_Date'].map(dt.datetime.toordinal)
test_kaggle['Opportunity_Created_Date'] = test_kaggle['Opportunity_Created_Date'].map(dt.datetime.toordinal)
test_kaggle['Quote_Expiry_Date'] = test_kaggle['Quote_Expiry_Date'].map(dt.datetime.toordinal)
test_kaggle['Last_Modified_Date'] = test_kaggle['Last_Modified_Date'].map(dt.datetime.toordinal)
test_kaggle['Planned_Delivery_Start_Date'] = test_kaggle['Planned_Delivery_Start_Date'].map(dt.datetime.toordinal)
test_kaggle['Planned_Delivery_End_Date'] = test_kaggle['Planned_Delivery_End_Date'].map(dt.datetime.toordinal)

## Separamos train en train y test

In [94]:
# Ahora que está ordenado, hacemos una separación del set de datos en:
#   * 80% para el set de train
#   * 20% para el set de test
ochenta_porciento = round(len(train) * 0.8) - 1

test = train.iloc[ochenta_porciento:, :]
train = train.iloc[:ochenta_porciento, :]

Verificamos que los tiempos sean correctos

In [95]:
# El primero de train sea menor al último de train
train.iloc[0, 19] < train.iloc[len(train) - 1, 19]

True

In [96]:
# El último de train sea menor al primero de test
train.iloc[len(train) -1, 19] < test.iloc[0, 19]

True

In [97]:
# El último de test sea menor al primero de test_kaggle
test.iloc[len(test) -1, 19] < test_kaggle.iloc[0, 19]

True

## Features

### Ventas por personas por mes

In [98]:
def contar_ventas_persona_mes(df):
    ventas_persona_mes = df.groupby(['Account_Name', 'Delivery_Year', 'Month']).agg({'ID': 'count'})
    l = []
    for index, row in df.iterrows():
        x = ventas_persona_mes.loc[row['Account_Name'], row['Delivery_Year'], row['Month']]
        l.append(x['ID'])
    return l

In [99]:
train['Ventas_Persona_por_Mes'] = contar_ventas_persona_mes(train)
test['Ventas_Persona_por_Mes'] = contar_ventas_persona_mes(test)
test_kaggle['Ventas_Persona_por_Mes'] = contar_ventas_persona_mes(test_kaggle)

### Ventas por persona por año

In [100]:
def contar_ventas_persona_anio(df):
    ventas_persona_anio = df.groupby(['Account_Name', 'Delivery_Year']).agg({'ID': 'count'})
    l = []
    for index, row in df.iterrows():
        x = ventas_persona_anio.loc[row['Account_Name'], row['Delivery_Year']]
        l.append(x['ID'])
    return l

In [101]:
train['Ventas_Persona_por_Anio'] = contar_ventas_persona_anio(train)
test['Ventas_Persona_por_Anio'] = contar_ventas_persona_anio(test)
test_kaggle['Ventas_Persona_por_Anio'] = contar_ventas_persona_anio(test_kaggle)

### Ventas por producto por mes

In [102]:
def contar_ventas_producto_mes(df):
    ventas_producto_mes = df.groupby(['Product_Name', 'Delivery_Year', 'Month']).agg({'ID': 'count'})
    l = []
    for index, row in df.iterrows():
        x = ventas_producto_mes.loc[row['Product_Name'], row['Delivery_Year'], row['Month']]
        l.append(x['ID'])
    return l

In [103]:
train['Ventas_Producto_por_Mes'] = contar_ventas_producto_mes(train)
test['Ventas_Producto_por_Mes'] = contar_ventas_producto_mes(test)
test_kaggle['Ventas_Producto_por_Mes'] = contar_ventas_producto_mes(test_kaggle)

### Ventas por producto por año

In [104]:
def contar_ventas_producto_anio(df):
    ventas_producto_anio = df.groupby(['Product_Name', 'Delivery_Year']).agg({'ID': 'count'})
    l = []
    for index, row in df.iterrows():
        x = ventas_producto_anio.loc[row['Product_Name'], row['Delivery_Year']]
        l.append(x['ID'])
    return l

In [105]:
train['Ventas_Producto_por_Anio'] = contar_ventas_producto_anio(train)
test['Ventas_Producto_por_Anio'] = contar_ventas_producto_anio(test)
test_kaggle['Ventas_Producto_por_Anio'] = contar_ventas_producto_anio(test_kaggle)

### Diferencia entre Fecha de ultima modificacion y de vencimiento en el presupuesto

In [106]:
train['Diferencia_Fecha_modificacion_y_presupuesto'] = train['Quote_Expiry_Date'] - train['Last_Modified_Date']
test['Diferencia_Fecha_modificacion_y_presupuesto'] = test['Quote_Expiry_Date'] - test['Last_Modified_Date']
test_kaggle['Diferencia_Fecha_modificacion_y_presupuesto'] = test_kaggle['Quote_Expiry_Date'] - test_kaggle['Last_Modified_Date']

## Mean Encoding

In [107]:
def mean_encoding(train, test, test_kaggle, columnas_a_aplicar_mean_encoding):
  # train, test y test_kaggle son los DataFrames sobre los cuales aplicar el mean encoding
  # columnas_a_aplicar_mean_encoding es una lista de strings, que son los nombres de las columnas a aplicar mean encoding
  # Esta función no devuelve nada porque es inplace
  for columna in columnas_a_aplicar_mean_encoding:
    mean_encoded = train.groupby(columna)['Target'].mean().to_dict()

    train[columna] = train[columna].map(mean_encoded)
    train[columna] = pd.to_numeric(train[columna])

    test[columna] = test[columna].map(mean_encoded)
    test[columna] = pd.to_numeric(test[columna])
    
    test_kaggle[columna] = test_kaggle[columna].map(mean_encoded)
    test_kaggle[columna] = pd.to_numeric(test_kaggle[columna])

In [108]:
columnas_a_aplicar_mean_encoding = ['Region', 'Territory', 'Bureaucratic_Code', 'Source', 'Billing_Country',\
                                    'Account_Name', 'Account_Owner', 'Opportunity_Owner', 'Account_Type',\
                                    'Opportunity_Type', 'Quote_Type', 'Delivery_Terms', 'Brand', 'Product_Type',\
                                    'Size', 'Product_Category_B', 'Currency', 'Last_Modified_By', 'Product_Family',\
                                    'Product_Name', 'ASP_Currency', 'Delivery_Quarter', 'Total_Amount_Currency',\
                                    'Total_Taxable_Amount_Currency']
mean_encoding(train, test, test_kaggle, columnas_a_aplicar_mean_encoding)

### Promedio entre Account_Name y Product_Name

In [109]:
train['Mean_Account_Product'] = (train['Account_Name'] + train['Product_Name'])/2
test['Mean_Account_Product'] = (test['Account_Name'] + test['Product_Name'])/2
test_kaggle['Mean_Account_Product'] = (test_kaggle['Account_Name'] + test_kaggle['Product_Name'])/2

### Promedio entre Account_Name, Product_Name, Bureaucratic_Code y Last_Modified_By

In [110]:
train['Mean_Account_Product_Bureaucratic_LastModified'] = (train['Account_Name'] + train['Product_Name']\
                                                + train['Bureaucratic_Code'] + train['Last_Modified_By'])/4
test['Mean_Account_Product_Bureaucratic_LastModified'] = (test['Account_Name'] + test['Product_Name']\
                                                + test['Bureaucratic_Code'] + test['Last_Modified_By'])/4
test_kaggle['Mean_Account_Product_Bureaucratic_LastModified'] = \
                                    (test_kaggle['Account_Name'] + test_kaggle['Product_Name']\
                                    + test_kaggle['Bureaucratic_Code'] + test_kaggle['Last_Modified_By'])/4

### Quote_Expiry_Date y USD_Total_Amount por Account_Name

In [111]:
train['Account_Por_Expiry'] = train['Quote_Expiry_Date']*train['Account_Name']
train['Account_Por_TotalAmount'] = train['USD_Total_Amount']*train['Account_Name']
test['Account_Por_Expiry'] = test['Quote_Expiry_Date']*test['Account_Name']
test['Account_Por_TotalAmount'] = test['USD_Total_Amount']*test['Account_Name']
test_kaggle['Account_Por_Expiry'] = test_kaggle['Quote_Expiry_Date']*test_kaggle['Account_Name']
test_kaggle['Account_Por_TotalAmount'] = test_kaggle['USD_Total_Amount']*test_kaggle['Account_Name']

### Quote_Expiry_Date y USD_Total_Amount dividido Account_Name

In [112]:
# train['Expiry_Dividido_Account'] = train['Quote_Expiry_Date']/train['Account_Name']
# train['TotalAmount_Dividido_Account'] = train['USD_Total_Amount']/train['Account_Name']
# test['Expiry_Dividido_Account'] = test['Quote_Expiry_Date']/test['Account_Name']
# test['TotalAmount_Dividido_Account'] = test['USD_Total_Amount']/test['Account_Name']
# test_kaggle['Expiry_Dividido_Account'] = test_kaggle['Quote_Expiry_Date']/test_kaggle['Account_Name']
# test_kaggle['TotalAmount_Dividido_Account'] = test_kaggle['USD_Total_Amount']/test_kaggle['Account_Name']

### Reordenamos las columnas

In [113]:
def reorder_columns(df):
    cols = list(df.columns.values)
    cols.pop(cols.index('Target'))
    return df[cols+['Target']]

In [114]:
train = reorder_columns(train)
test = reorder_columns(test)

## Analizamos los valores nulos de las columnas

In [115]:
# train.info()
# test.info()
# test_kaggle.info()

Podemos ver que quedan los siguientes nulos:

* 'Territory' (test/test_kaggle)
* 'Billing_Country' (test/test_kaggle)
* 'Account_Name' (test/test_kaggle)
* 'Opportunity_Owner' (test/test_kaggle)
* 'Opportunity Type' (test)
* 'Brand' (test/test_kaggle)
* 'Size' (test)
* 'Product_Category_B' (test/test_kaggle)
* 'Price' (train/test/test_kaggle)
* 'Last_Modified_By' (test/test_kaggle)
* 'Product_Family' (test/test_kaggle)
* 'Product_Name' (test/test_kaggle)
* 'ASP' (train/test/test_kaggle)
* 'ASP_(converted_USD)' (train/test/test_kaggle)
* 'Total_Amount' (train)
* 'USD_Total_Amount' (train)

In [116]:
from numpy import isnan
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imputer = IterativeImputer()
# fit on the dataset
imputer.fit(train)
# transform the dataset
Xtrans = imputer.transform(train)
train = pd.DataFrame(data = Xtrans, columns = train.columns)

# fit on the dataset
imputer.fit(test)
# transform the dataset
Xtrans = imputer.transform(test)
test = pd.DataFrame(data = Xtrans, columns = test.columns)

# fit on the dataset
imputer.fit(test_kaggle)
# transform the dataset
Xtrans = imputer.transform(test_kaggle)
test_kaggle = pd.DataFrame(data = Xtrans, columns = test_kaggle.columns)

In [117]:
# Verificamos que todos los valores de los 3 set de datos sean NO nulos (la suma debe dar 0)
train.isnull().sum().sum() + test.isnull().sum().sum() + test_kaggle.isnull().sum().sum()

0

## Finalmente guardamos el dataframe train en un csv

In [118]:
#from google.colab import files
train.to_csv('data_train.csv', index=False)
#files.download('data_train.csv')

test.to_csv('data_test.csv', index=False)
#files.download('data_test.csv')

test_kaggle.to_csv('data_test_kaggle.csv', index=False)
#files.download('data_test_kaggle.csv')