In [505]:
import pandas as pd
import datetime as dt
import numpy as np

In [506]:
# Como vimos en el TP1:

# En el read_csv, castear las variables a los tipos que corresponden.
# En el usecols sacar: 
#     * 'Submitted_for_Approval' (Un solo valor: 0)
#     * 'Last_Activity' (Todos nulos)
#     * 'ASP_(converted)_Currency' (Un solo valor: 'USD')
#     * 'Actual_Delivery_Date' (Todos nulos)
#     * 'Prod_Category_A' (Un solo valor: 'Prod_Category_A_None')
#     * 'Sales_Contract_No' (No permite que se realice el entrenamiento)
#     * 'Opportunity_Name' (Tiene correspondencia 1 a 1 con 'Opportunity_ID, es redundante)


# ESTAS SON COLUMNAS TODAVÍA ***NO*** ELIMINADAS:
#     * 'Brand' (Muchos nulos: 15911)
#     * 'Product_Type' (Muchos nulos: 15935)
#     * 'Size' (Muchos nulos: 15967)
#     * 'Product_Category_B' (Muchos nulos: 15928)
#     * 'Price' (Muchos nulos; 15982) ----------------> si ahora lo borramos, borrar celda del replace de Price
#     * 'Currency' (Muchos nulos: 16052)

In [507]:
# train = pd.read_csv("../Train_TP2_Datos_2020-2C.csv")
# test = pd.read_csv("../Test_TP2_Datos_2020-2C.csv")

url_train = 'https://raw.githubusercontent.com/SantiagoTadini/TP2-Datos/main/Train_TP2_Datos_2020-2C.csv'
url_test = 'https://raw.githubusercontent.com/SantiagoTadini/TP2-Datos/main/Test_TP2_Datos_2020-2C.csv'
train = pd.read_csv(url_train,\
                    usecols=['ID', 'Region', 'Territory', 'Pricing, Delivery_Terms_Quote_Appr',\
                          'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval', 'Bureaucratic_Code_0_Approved',\
                          'Bureaucratic_Code', 'Account_Created_Date', 'Source ', 'Billing_Country',\
                          'Account_Name', 'Opportunity_ID', 'Account_Owner',\
                          'Opportunity_Owner', 'Account_Type', 'Opportunity_Type', 'Quote_Type', 'Delivery_Terms',\
                          'Opportunity_Created_Date', 'Brand', 'Product_Type', 'Size', 'Product_Category_B', 'Price',\
                          'Currency', 'Quote_Expiry_Date', 'Last_Modified_Date', 'Last_Modified_By',\
                          'Product_Family', 'Product_Name', 'ASP_Currency', 'ASP', 'ASP_(converted)',\
                          'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date', 'Month', 'Delivery_Quarter',\
                          'Delivery_Year', 'TRF', 'Total_Amount_Currency', 'Total_Amount', 'Total_Taxable_Amount_Currency',\
                          'Total_Taxable_Amount', 'Stage'],\
                    dtype={
                          'Region' : 'category',
                          'Territory' : 'category',
                          'Bureaucratic_Code' : 'category',
                          'Source ' : 'category',
                          'Billing_Country' : 'category',
                          'Account_Name' : 'category',
                          'Account_Owner' : 'category',
                          'Opportunity_Owner' : 'category',
                          'Account_Type' : 'category',
                          'Opportunity_Type' : 'category',
                          'Quote_Type' : 'category',
                          'Delivery_Terms' : 'category',
                          'Brand' : 'category',
                          'Product_Type' : 'category',
                          'Size' : 'category',
                          'Product_Category_B' : 'category',
                          'Currency' : 'category',
                          'Last_Modified_By' : 'category',
                          'Product_Family' : 'category',
                          'Product_Name' : 'category',
                          'ASP_Currency' : 'category',
                          'Delivery_Quarter' : 'category',
                          'Total_Amount_Currency' : 'category',
                          'Total_Taxable_Amount_Currency' : 'category',
                          'Stage' : 'category'})
test = pd.read_csv(url_test,\
                  usecols=['ID', 'Region', 'Territory', 'Pricing, Delivery_Terms_Quote_Appr',\
                          'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval', 'Bureaucratic_Code_0_Approved',\
                          'Bureaucratic_Code', 'Account_Created_Date', 'Source ', 'Billing_Country',\
                          'Account_Name', 'Opportunity_ID', 'Account_Owner',\
                          'Opportunity_Owner', 'Account_Type', 'Opportunity_Type', 'Quote_Type', 'Delivery_Terms',\
                          'Opportunity_Created_Date', 'Brand', 'Product_Type', 'Size', 'Product_Category_B', 'Price',\
                          'Currency', 'Quote_Expiry_Date', 'Last_Modified_Date', 'Last_Modified_By',\
                          'Product_Family', 'Product_Name', 'ASP_Currency', 'ASP', 'ASP_(converted)',\
                          'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date', 'Month', 'Delivery_Quarter',\
                          'Delivery_Year', 'TRF', 'Total_Amount_Currency', 'Total_Amount', 'Total_Taxable_Amount_Currency',\
                          'Total_Taxable_Amount'],\
                    dtype={
                          'Region' : 'category',
                          'Territory' : 'category',
                          'Bureaucratic_Code' : 'category',
                          'Source ' : 'category',
                          'Billing_Country' : 'category',
                          'Account_Name' : 'category',
                          'Account_Owner' : 'category',
                          'Opportunity_Owner' : 'category',
                          'Account_Type' : 'category',
                          'Opportunity_Type' : 'category',
                          'Quote_Type' : 'category',
                          'Delivery_Terms' : 'category',
                          'Brand' : 'category',
                          'Product_Type' : 'category',
                          'Size' : 'category',
                          'Product_Category_B' : 'category',
                          'Currency' : 'category',
                          'Last_Modified_By' : 'category',
                          'Product_Family' : 'category',
                          'Product_Name' : 'category',
                          'ASP_Currency' : 'category',
                          'Delivery_Quarter' : 'category',
                          'Total_Amount_Currency' : 'category',
                          'Total_Taxable_Amount_Currency' : 'category'})

In [508]:
# Cantidad de columnas y filas de cada set de datos
print('Cantidad de columnas de train:', len(train.columns), 'y cantidad de filas de train:', len(train))
print('Cantidad de columnas de test:', len(test.columns), 'y cantidad de filas de test:', len(test))

Cantidad de columnas de train: 45 y cantidad de filas de train: 16947
Cantidad de columnas de test: 44 y cantidad de filas de test: 2551

In [509]:
# Sacar espacio del nombre de la columna 'Source'
train.rename(columns={'Source ' : 'Source', 'ASP_(converted)' : 'ASP_(converted_USD)'}, inplace=True)

test.rename(columns={'Source ' : 'Source', 'ASP_(converted)' : 'ASP_(converted_USD)'}, inplace=True)

In [510]:
# Poner en la columna Month sólo el mes (que no aparezca el año)
train['Month'] = pd.to_datetime(train['Month'], format='%Y - %m').dt.month

test['Month'] = pd.to_datetime(test['Month'], format='%Y - %m').dt.month

In [511]:
# Pasar la columna 'Price' a numérico (incluídos los nulos)
train['Price'] = train['Price'].replace('None', np.NaN)
train['Price'] = train['Price'].replace('Other', np.NaN)
train['Price'] = train['Price'].astype('float')

test['Price'] = test['Price'].replace('None', np.NaN)
test['Price'] = test['Price'].replace('Other', np.NaN)
test['Price'] = test['Price'].astype('float')

In [512]:
# Pasar las columnas de fechas a formato datetime
formato_fecha = '%m/%d/%Y'
train['Account_Created_Date'] = pd.to_datetime(train['Account_Created_Date'], format=formato_fecha) # ver fecha fila 0
train['Opportunity_Created_Date'] = pd.to_datetime(train['Opportunity_Created_Date'], format=formato_fecha) # ver fecha fila 77
train['Quote_Expiry_Date'] = pd.to_datetime(train['Quote_Expiry_Date'], format=formato_fecha) # ver fecha fila 0
train['Last_Modified_Date'] = pd.to_datetime(train['Last_Modified_Date'], format=formato_fecha) # ver fecha fila 0
train['Planned_Delivery_Start_Date'] = pd.to_datetime(train['Planned_Delivery_Start_Date'], format=formato_fecha) # ver fechas filas 0 y 1, comparar el mes con month
train['Planned_Delivery_End_Date'] = pd.to_datetime(train['Planned_Delivery_End_Date'], format=formato_fecha) # ver fecha fila 0

test['Account_Created_Date'] = pd.to_datetime(test['Account_Created_Date'], format=formato_fecha) # ver fecha fila 0
test['Opportunity_Created_Date'] = pd.to_datetime(test['Opportunity_Created_Date'], format=formato_fecha) # ver fecha fila 77
test['Quote_Expiry_Date'] = pd.to_datetime(test['Quote_Expiry_Date'], format=formato_fecha) # ver fecha fila 0
test['Last_Modified_Date'] = pd.to_datetime(test['Last_Modified_Date'], format=formato_fecha) # ver fecha fila 0
test['Planned_Delivery_Start_Date'] = pd.to_datetime(test['Planned_Delivery_Start_Date'], format=formato_fecha) # ver fechas filas 0 y 1, comparar el mes con month
test['Planned_Delivery_End_Date'] = pd.to_datetime(test['Planned_Delivery_End_Date'], format=formato_fecha) # ver fecha fila 0

In [513]:
# train.info()

# test.info()

Aquí ya no tenemos ningún feature de tipo object.

In [514]:
# train.head(10)

In [515]:
# test.head(10)

Eliminamos las filas que no son Closed Won o Closed Lost

In [516]:
# Vemos los posibles valores que puede adoptar 'Stage'
train['Stage'].value_counts()

Closed Won       9533
Closed Lost      7350
Proposal           35
Negotiation        18
Qualification      11
Name: Stage, dtype: int64

In [517]:
# Tenemos que de 16947 filas en total, solo 64 (0.3776%) NO son Closed Won o Closed Lost, es por
# eso que eliminamos esas filas, su aporte es mínimo.
train.drop(train[(train['Stage'] != 'Closed Won') & (train['Stage'] != 'Closed Lost')].index, inplace=True)
train['Stage'].value_counts()

Closed Won       9533
Closed Lost      7350
Qualification       0
Proposal            0
Negotiation         0
Name: Stage, dtype: int64

## Precio en dolares

In [518]:
change_USD = 1 #1 dolar EEUU = 1 dolar EEUU
change_EUR = 1.1745 #1 euro = 1,1745 dolares EEUU
change_AUD = 0.71601 # 1 dolar australiano = 0.71601 dolar EEUU
change_JPY = 0.0094800 # 1 yen japones = 0,0094800 dolares EEUU
change_GBP = 1.2935 # 1 libra esterlina = 1,2935 dolares EEUU

In [519]:
filtro_USD_train = train['Total_Amount_Currency'] == 'USD'
filtro_EUR_train = train['Total_Amount_Currency'] == 'EUR'
filtro_AUD_train = train['Total_Amount_Currency'] == 'AUD'
filtro_JPY_train = train['Total_Amount_Currency'] == 'JPY'
filtro_GBP_train = train['Total_Amount_Currency'] == 'GBP'

In [520]:
train.loc[filtro_USD_train, 'USD_Total_Amount'] = train.loc[filtro_USD_train, 'Total_Amount']*change_USD
train.loc[filtro_EUR_train, 'USD_Total_Amount'] = train.loc[filtro_EUR_train, 'Total_Amount']*change_EUR
train.loc[filtro_AUD_train, 'USD_Total_Amount'] = train.loc[filtro_AUD_train, 'Total_Amount']*change_AUD
train.loc[filtro_JPY_train, 'USD_Total_Amount'] = train.loc[filtro_JPY_train, 'Total_Amount']*change_JPY
train.loc[filtro_GBP_train, 'USD_Total_Amount'] = train.loc[filtro_GBP_train, 'Total_Amount']*change_GBP

In [521]:
train['USD_Total_Amount'] = train['USD_Total_Amount'].round(2)

In [522]:
filtro_USD_test = test['Total_Amount_Currency'] == 'USD'
filtro_EUR_test = test['Total_Amount_Currency'] == 'EUR'
filtro_AUD_test = test['Total_Amount_Currency'] == 'AUD'
filtro_JPY_test = test['Total_Amount_Currency'] == 'JPY'
filtro_GBP_test = test['Total_Amount_Currency'] == 'GBP'

In [523]:
test.loc[filtro_USD_test, 'USD_Total_Amount'] = test.loc[filtro_USD_test, 'Total_Amount']*change_USD
test.loc[filtro_EUR_test, 'USD_Total_Amount'] = test.loc[filtro_EUR_test, 'Total_Amount']*change_EUR
test.loc[filtro_AUD_test, 'USD_Total_Amount'] = test.loc[filtro_AUD_test, 'Total_Amount']*change_AUD
test.loc[filtro_JPY_test, 'USD_Total_Amount'] = test.loc[filtro_JPY_test, 'Total_Amount']*change_JPY
test.loc[filtro_GBP_test, 'USD_Total_Amount'] = test.loc[filtro_GBP_test, 'Total_Amount']*change_GBP

In [524]:
test['USD_Total_Amount'] = test['USD_Total_Amount'].round(2)

## Codificamos Stage con Binary Encoding

In [525]:
train['Target'] = train['Stage'].replace({'Closed Won': 1, 'Closed Lost': 0})

In [526]:
train['Target'].astype(int)

0        0
1        1
2        1
3        0
4        0
        ..
16942    1
16943    1
16944    1
16945    0
16946    0
Name: Target, Length: 16883, dtype: int64

In [527]:
train.drop(columns=['Stage'], inplace=True)

##Ordenamos según fecha de creación de la oportunidad y pasamos las fechas a números

In [528]:
# Ordenamos por fecha para no entrenar con el futuro
train.sort_values('Opportunity_Created_Date', ascending=True, inplace=True)
test.sort_values('Opportunity_Created_Date', ascending=True, inplace=True)

In [529]:
# Pasamos las fechas a números para que queden como variables numéricas
train['Account_Created_Date'] = train['Account_Created_Date'].map(dt.datetime.toordinal)
train['Opportunity_Created_Date'] = train['Opportunity_Created_Date'].map(dt.datetime.toordinal)
train['Quote_Expiry_Date'] = train['Quote_Expiry_Date'].map(dt.datetime.toordinal)
train['Last_Modified_Date'] = train['Last_Modified_Date'].map(dt.datetime.toordinal)
train['Planned_Delivery_Start_Date'] = train['Planned_Delivery_Start_Date'].map(dt.datetime.toordinal)
train['Planned_Delivery_End_Date'] = train['Planned_Delivery_End_Date'].map(dt.datetime.toordinal)


test['Account_Created_Date'] = test['Account_Created_Date'].map(dt.datetime.toordinal)
test['Opportunity_Created_Date'] = test['Opportunity_Created_Date'].map(dt.datetime.toordinal)
test['Quote_Expiry_Date'] = test['Quote_Expiry_Date'].map(dt.datetime.toordinal)
test['Last_Modified_Date'] = test['Last_Modified_Date'].map(dt.datetime.toordinal)
test['Planned_Delivery_Start_Date'] = test['Planned_Delivery_Start_Date'].map(dt.datetime.toordinal)
test['Planned_Delivery_End_Date'] = test['Planned_Delivery_End_Date'].map(dt.datetime.toordinal)

## Agregamos columnas

In [533]:
# Agregamos columna de cantidad de oportunidades Closed Won por Región hasta el momento

train['Oport_CW_acum_por_region'] = train.groupby('Region').agg({'Target' : 'cumsum'}) - 1
train['Oport_CW_acum_por_region'].replace(-1, 0, inplace=True)
# train[['Region', 'Oport_CW_acum_por_region', 'Target']]

In [534]:
# Agregamos columna de cantidad de oportunidades Closed Won por Product_Family hasta el momento

train['Oport_CW_acum_por_product_family'] = train.groupby('Product_Family').agg({'Target' : 'cumsum'}) - 1
train['Oport_CW_acum_por_product_family'].replace(-1, 0, inplace=True)
train[['Product_Family', 'Oport_CW_acum_por_product_family', 'Target']]

           Product_Family  Oport_CW_acum_por_product_family  Target
16104  Product_Family_133                                 0       0
16105   Product_Family_77                                 0       0
16106  Product_Family_164                                 0       0
16107  Product_Family_164                                 0       0
16109  Product_Family_151                                 0       1
...                   ...                               ...     ...
16099  Product_Family_132                               483       1
16100  Product_Family_133                               918       1
16103  Product_Family_168                                36       1
16101  Product_Family_240                                22       1
16102  Product_Family_140                               261       1

[16883 rows x 3 columns]

## Mean encoding ------------> SI NO LES CAMBIAMOS EL TIPO A MANO, ALGUNAS QUEDAN EN CATEGORY, PERO CUANDO ABRE EL CSV EN EL MODELO ES NUMÉRICA.

In [387]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16883 entries, 0 to 16946
Data columns (total 46 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16883 non-null  int64
 1   Region                              16883 non-null  category
 2   Territory                           16883 non-null  category
 3   Pricing, Delivery_Terms_Quote_Appr  16883 non-null  int64
 4   Pricing, Delivery_Terms_Approved    16883 non-null  int64
 5   Bureaucratic_Code_0_Approval        16883 non-null  int64
 6   Bureaucratic_Code_0_Approved        16883 non-null  int64
 7   Bureaucratic_Code                   16883 non-null  category
 8   Account_Created_Date                16883 non-null  datetime64[ns]
 9   Source                              16883 non-null  category
 10  Billing_Country                     16883 non-null  category
 11  Account_Name                        16883 non-null  category
 12  Opportunity_ID                      16883 non-null  int64
 13  Account_Owner                       16883 non-null  category
 14  Opportunity_Owner                   16883 non-null  category
 15  Account_Type                        16883 non-null  category
 16  Opportunity_Type                    16883 non-null  category
 17  Quote_Type                          16883 non-null  category
 18  Delivery_Terms                      16883 non-null  category
 19  Opportunity_Created_Date            16883 non-null  datetime64[ns]
 20  Brand                               16883 non-null  category
 21  Product_Type                        16883 non-null  category
 22  Size                                16883 non-null  category
 23  Product_Category_B                  16883 non-null  category
 24  Price                               356 non-null    float64
 25  Currency                            16883 non-null  category
 26  Quote_Expiry_Date                   12289 non-null  datetime64[ns]
 27  Last_Modified_Date                  16883 non-null  datetime64[ns]
 28  Last_Modified_By                    16883 non-null  category
 29  Product_Family                      16883 non-null  category
 30  Product_Name                        16883 non-null  category
 31  ASP_Currency                        16883 non-null  category
 32  ASP                                 13679 non-null  float64
 33  ASP_(converted_USD)                 13679 non-null  float64
 34  Planned_Delivery_Start_Date         16883 non-null  datetime64[ns]
 35  Planned_Delivery_End_Date           16808 non-null  datetime64[ns]
 36  Month                               16883 non-null  int64
 37  Delivery_Quarter                    16883 non-null  category
 38  Delivery_Year                       16883 non-null  int64
 39  TRF                                 16883 non-null  int64
 40  Total_Amount_Currency               16883 non-null  category
 41  Total_Amount                        16824 non-null  float64
 42  Total_Taxable_Amount_Currency       16883 non-null  category
 43  Total_Taxable_Amount                16883 non-null  float64
 44  USD_Total_Amount                    16824 non-null  float64
 45  Target                              16883 non-null  int64
dtypes: category(24), datetime64[ns](6), float64(6), int64(10)
memory usage: 3.5 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2551 entries, 0 to 2550
Data columns (total 45 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  2551 non-null   int64
 1   Region                              2551 non-null   category
 2   Territory                           2551 non-null   category
 3   Pricing, Delivery_Terms_Quote_Appr  2551 non-null   int64
 4   Pricing, Delivery_Terms_Approved    2551 non-null   int64
 5   Bureaucratic_Code_0_Approval        2551 non-null   int64
 6   Bureaucratic_Code_0_Approved        2551 non-null   int64
 7   Bureaucratic_Code                   2551 non-null   category
 8   Account_Created_Date                2551 non-null   datetime64[ns]
 9   Source                              2551 non-null   category
 10  Billing_Country                     2551 non-null   category
 11  Account_Name                        2551 non-null   category
 12  Opportunity_ID                      2551 non-null   int64
 13  Account_Owner                       2551 non-null   category
 14  Opportunity_Owner                   2551 non-null   category
 15  Account_Type                        2551 non-null   category
 16  Opportunity_Type                    2551 non-null   category
 17  Quote_Type                          2551 non-null   category
 18  Delivery_Terms                      2551 non-null   category
 19  Opportunity_Created_Date            2551 non-null   datetime64[ns]
 20  Brand                               2551 non-null   category
 21  Product_Type                        2551 non-null   category
 22  Size                                2551 non-null   category
 23  Product_Category_B                  2551 non-null   category
 24  Price                               160 non-null    float64
 25  Currency                            2551 non-null   category
 26  Quote_Expiry_Date                   1315 non-null   datetime64[ns]
 27  Last_Modified_Date                  2551 non-null   datetime64[ns]
 28  Last_Modified_By                    2551 non-null   category
 29  Product_Family                      2551 non-null   category
 30  Product_Name                        2551 non-null   category
 31  ASP_Currency                        2551 non-null   category
 32  ASP                                 2467 non-null   float64
 33  ASP_(converted_USD)                 2467 non-null   float64
 34  Planned_Delivery_Start_Date         2551 non-null   datetime64[ns]
 35  Planned_Delivery_End_Date           2500 non-null   datetime64[ns]
 36  Month                               2551 non-null   int64
 37  Delivery_Quarter                    2551 non-null   category
 38  Delivery_Year                       2551 non-null   int64
 39  TRF                                 2551 non-null   int64
 40  Total_Amount_Currency               2551 non-null   category
 41  Total_Amount                        2551 non-null   float64
 42  Total_Taxable_Amount_Currency       2551 non-null   category
 43  Total_Taxable_Amount                2551 non-null   float64
 44  USD_Total_Amount                    2551 non-null   float64
dtypes: category(24), datetime64[ns](6), float64(6), int64(9)
memory usage: 530.5 KB

Para variable 'Region' (no tiene nulos en ningún set de datos)

In [388]:
mean_encoded_region = train.groupby(['Region'])['Target'].mean().to_dict()
train['Region'] =  train['Region'].map(mean_encoded_region)

test['Region'] = test['Region'].map(mean_encoded_region)

Para variable 'Territory' (hay nulos en test)

In [389]:
# Hay territorios en test que no están en train --> como regularizador del Mean Encoding
# asignamos a esos territorios el código de 'None'
test.replace(['Andorra', 'Finland', 'Mongolia'], 'None', inplace=True)

In [390]:
mean_encoded_territory = train.groupby(['Territory'])['Target'].mean().to_dict()
train['Territory'] = train['Territory'].map(mean_encoded_territory)

test['Territory'] = test['Territory'].map(mean_encoded_territory)

Para variable 'Bureaucratic_Code'

In [391]:
mean_encoded_bur_code = train.groupby(['Bureaucratic_Code'])['Target'].mean().to_dict()
train['Bureaucratic_Code'] =  train['Bureaucratic_Code'].map(mean_encoded_bur_code)

test['Bureaucratic_Code'] = test['Bureaucratic_Code'].map(mean_encoded_bur_code)

Para variable 'Source'

In [392]:
mean_encoded_source = train.groupby(['Source'])['Target'].mean().to_dict()
train['Source'] =  train['Source'].map(mean_encoded_source)

test['Source'] = test['Source'].map(mean_encoded_source)

Para variable 'Billing_Country'

In [393]:
# Hay Billing_Country en test que no están en train --> como regularizador del 
# Mean Encoding asignamos a esos Billing_Country el código de 'None'
test.replace('Bermuda', 'None', inplace=True)

In [394]:
mean_encoded_billing_country = train.groupby(['Billing_Country'])['Target'].mean().to_dict()
train['Billing_Country'] =  train['Billing_Country'].map(mean_encoded_billing_country)

test['Billing_Country'] = test['Billing_Country'].map(mean_encoded_billing_country)

Para variable 'Account_Name' (hay nulos en test)

In [395]:
# Hay Account_Name en test que no están en train --> como regularizador del 
# Mean Encoding asignamos a esos Account_Name el código 0

In [396]:
mean_encoded_acc_name = train.groupby(['Account_Name'])['Target'].mean().to_dict()
train['Account_Name'] =  train['Account_Name'].map(mean_encoded_acc_name)

test['Account_Name'] = test['Account_Name'].map(mean_encoded_acc_name)

In [397]:
test['Account_Name'].fillna(0, inplace=True)

Para variable 'Account_Owner'

In [398]:
mean_encoded_acc_owner = train.groupby(['Account_Owner'])['Target'].mean().to_dict()
train['Account_Owner'] =  train['Account_Owner'].map(mean_encoded_acc_owner)

test['Account_Owner'] = test['Account_Owner'].map(mean_encoded_acc_owner)

Para variable 'Opportunity_Owner'

In [399]:
# Hay Opportunity_Owner en test que no están en train --> como regularizador del 
# Mean Encoding asignamos a esos Opportunity_Owner el código...

In [400]:
mean_encoded_opp_owner = train.groupby(['Opportunity_Owner'])['Target'].mean().to_dict()
train['Opportunity_Owner'] =  train['Opportunity_Owner'].map(mean_encoded_opp_owner)

test['Opportunity_Owner'] = test['Opportunity_Owner'].map(mean_encoded_opp_owner)

In [401]:
# test[test['Opportunity_Owner'].isna()].groupby('Opportunity_ID').agg({'Region' : 'value_counts'})

Para variable 'Account_Type' (no hay nulos)

In [402]:
mean_encoded_acc_type = train.groupby(['Account_Type'])['Target'].mean().to_dict()
train['Account_Type'] =  train['Account_Type'].map(mean_encoded_acc_type)

test['Account_Type'] = test['Account_Type'].map(mean_encoded_acc_type)

Para variable 'Opportunity_Type'

In [403]:
mean_encoded_opp_type = train.groupby(['Opportunity_Type'])['Target'].mean().to_dict()
train['Opportunity_Type'] =  train['Opportunity_Type'].map(mean_encoded_opp_type)

test['Opportunity_Type'] = test['Opportunity_Type'].map(mean_encoded_opp_type)

Para variable 'Quote_Type'

In [404]:
mean_encoded_quote_type = train.groupby(['Quote_Type'])['Target'].mean().to_dict()
train['Quote_Type'] =  train['Quote_Type'].map(mean_encoded_quote_type)

test['Quote_Type'] = test['Quote_Type'].map(mean_encoded_quote_type)

Para variable 'Delivery_Terms'

In [405]:
mean_encoded_delivey_terms = train.groupby(['Delivery_Terms'])['Target'].mean().to_dict()
train['Delivery_Terms'] =  train['Delivery_Terms'].map(mean_encoded_delivey_terms)

test['Delivery_Terms'] = test['Delivery_Terms'].map(mean_encoded_delivey_terms)

Para variable 'Brand'

In [406]:
# Hay Brand en test que no están en train --> como regularizador del 
# Mean Encoding asignamos a esos Brand el código de 'Other'
test.replace(['Brand_8', 'Brand_18'], 'Other', inplace=True)

In [407]:
mean_encoded_brand = train.groupby(['Brand'])['Target'].mean().to_dict()
train['Brand'] =  train['Brand'].map(mean_encoded_brand)

test['Brand'] = test['Brand'].map(mean_encoded_brand)

Para variable 'Product_Type'

In [408]:
mean_encoded_prod_type = train.groupby(['Product_Type'])['Target'].mean().to_dict()
train['Product_Type'] =  train['Product_Type'].map(mean_encoded_prod_type)

test['Product_Type'] = test['Product_Type'].map(mean_encoded_prod_type)

Para variable 'Size'

In [409]:
mean_encoded_size = train.groupby(['Size'])['Target'].mean().to_dict()
train['Size'] =  train['Size'].map(mean_encoded_size)

test['Size'] = test['Size'].map(mean_encoded_size)

Para variable 'Product_Category_B'

In [410]:
# Hay Product_Category_B en test que no están en train --> como regularizador del 
# Mean Encoding asignamos a esos Product_Category_B el código de 'Other'
test.replace('Product_Category_B_25', 'Other', inplace=True)

In [411]:
mean_encoded_prod_cat_b = train.groupby(['Product_Category_B'])['Target'].mean().to_dict()
train['Product_Category_B'] =  train['Product_Category_B'].map(mean_encoded_prod_cat_b)

test['Product_Category_B'] = test['Product_Category_B'].map(mean_encoded_prod_cat_b)

Para variable 'Currency'

In [412]:
mean_encoded_currency = train.groupby(['Currency'])['Target'].mean().to_dict()
train['Currency'] =  train['Currency'].map(mean_encoded_currency)

test['Currency'] = test['Currency'].map(mean_encoded_currency)

Para variable 'Last_Modified_By'

In [413]:
# train['Last_Modified_By'].value_counts()

In [414]:
# test[test['Opportunity_ID'] == 10696]

In [415]:
mean_encoded_last_modified_by = train.groupby(['Last_Modified_By'])['Target'].mean().to_dict()
train['Last_Modified_By'] =  train['Last_Modified_By'].map(mean_encoded_last_modified_by)

test['Last_Modified_By'] = test['Last_Modified_By'].map(mean_encoded_last_modified_by)

In [416]:
# test[test['Last_Modified_By'].isna()].groupby('Opportunity_ID').agg({'Region' : 'value_counts'})

Para variable 'Product_Family'

In [417]:
# train['Product_Family'].value_counts()
# train[train['Product_Family'] == 'Other']

In [418]:
# test[test['Opportunity_ID'] == 10696]

In [419]:
mean_encoded_prod_family = train.groupby(['Product_Family'])['Target'].mean().to_dict()
train['Product_Family'] =  train['Product_Family'].map(mean_encoded_prod_family)

test['Product_Family'] = test['Product_Family'].map(mean_encoded_prod_family)

In [420]:
# test[test['Product_Family'].isna()].groupby('Opportunity_ID').agg({'Region' : 'value_counts'})

Para varaible 'Product_Name'

In [421]:
# train['Product_Name'].value_counts()

In [422]:
# test[test['Opportunity_ID'] == 10692]

In [423]:
mean_encoded_prod_name = train.groupby(['Product_Name'])['Target'].mean().to_dict()
train['Product_Name'] =  train['Product_Name'].map(mean_encoded_prod_name)

test['Product_Name'] = test['Product_Name'].map(mean_encoded_prod_name)

In [424]:
# test[test['Product_Name'].isna()].groupby('Opportunity_ID').agg({'Region' : 'value_counts'})

Para variable 'ASP_Currency'

In [427]:
mean_encoded_asp_currency = train.groupby(['ASP_Currency'])['Target'].mean().to_dict()
train['ASP_Currency'] =  train['ASP_Currency'].map(mean_encoded_asp_currency)

test['ASP_Currency'] = test['ASP_Currency'].map(mean_encoded_asp_currency)

Para variable 'Delivery_Quarter'

In [433]:
mean_encoded_delivery_quarter = train.groupby(['Delivery_Quarter'])['Target'].mean().to_dict()
train['Delivery_Quarter'] =  train['Delivery_Quarter'].map(mean_encoded_delivery_quarter)

test['Delivery_Quarter'] = test['Delivery_Quarter'].map(mean_encoded_delivery_quarter)

Para varaible 'Total_Amount_Currency'

In [434]:
mean_encoded_total_amount_currency = train.groupby(['Total_Amount_Currency'])['Target'].mean().to_dict()
train['Total_Amount_Currency'] =  train['Total_Amount_Currency'].map(mean_encoded_total_amount_currency)

test['Total_Amount_Currency'] = test['Total_Amount_Currency'].map(mean_encoded_total_amount_currency)

Para variable 'Total_Taxable_Amount_Currency'

In [435]:
mean_encoded_total_tax_amount_currency = train.groupby(['Total_Taxable_Amount_Currency'])['Target'].mean().to_dict()
train['Total_Taxable_Amount_Currency'] =  train['Total_Taxable_Amount_Currency'].map(mean_encoded_total_tax_amount_currency)

test['Total_Taxable_Amount_Currency'] = test['Total_Taxable_Amount_Currency'].map(mean_encoded_total_tax_amount_currency)

## Analizamos los valores nulos de las columnas

In [60]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16883 entries, 16104 to 16102
Data columns (total 46 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16883 non-null  int64
 1   Region                              16883 non-null  category
 2   Territory                           16883 non-null  float64
 3   Pricing, Delivery_Terms_Quote_Appr  16883 non-null  int64
 4   Pricing, Delivery_Terms_Approved    16883 non-null  int64
 5   Bureaucratic_Code_0_Approval        16883 non-null  int64
 6   Bureaucratic_Code_0_Approved        16883 non-null  int64
 7   Bureaucratic_Code                   16883 non-null  float64
 8   Account_Created_Date                16883 non-null  int64
 9   Source                              16883 non-null  float64
 10  Billing_Country                     16883 non-null  float64
 11  Account_Name                        16883 non-null  float64
 12  Opportunity_ID                      16883 non-null  int64
 13  Account_Owner                       16883 non-null  float64
 14  Opportunity_Owner                   16883 non-null  float64
 15  Account_Type                        16883 non-null  category
 16  Opportunity_Type                    16883 non-null  float64
 17  Quote_Type                          16883 non-null  category
 18  Delivery_Terms                      16883 non-null  float64
 19  Opportunity_Created_Date            16883 non-null  int64
 20  Brand                               16883 non-null  float64
 21  Product_Type                        16883 non-null  float64
 22  Size                                16883 non-null  float64
 23  Product_Category_B                  16883 non-null  float64
 24  Price                               356 non-null    float64
 25  Currency                            16883 non-null  float64
 26  Quote_Expiry_Date                   16883 non-null  int64
 27  Last_Modified_Date                  16883 non-null  int64
 28  Last_Modified_By                    16883 non-null  float64
 29  Product_Family                      16883 non-null  float64
 30  Product_Name                        16883 non-null  float64
 31  ASP_Currency                        16883 non-null  category
 32  ASP                                 13679 non-null  float64
 33  ASP_(converted_USD)                 13679 non-null  float64
 34  Planned_Delivery_Start_Date         16883 non-null  int64
 35  Planned_Delivery_End_Date           16883 non-null  int64
 36  Month                               16883 non-null  int64
 37  Delivery_Quarter                    16883 non-null  category
 38  Delivery_Year                       16883 non-null  int64
 39  TRF                                 16883 non-null  int64
 40  Total_Amount_Currency               16883 non-null  category
 41  Total_Amount                        16824 non-null  float64
 42  Total_Taxable_Amount_Currency       16883 non-null  category
 43  Total_Taxable_Amount                16883 non-null  float64
 44  USD_Total_Amount                    16824 non-null  float64
 45  Target                              16883 non-null  int64
dtypes: category(7), float64(23), int64(16)
memory usage: 5.3 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2551 entries, 718 to 2550
Data columns (total 45 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  2551 non-null   int64
 1   Region                              2551 non-null   category
 2   Territory                           2551 non-null   float64
 3   Pricing, Delivery_Terms_Quote_Appr  2551 non-null   int64
 4   Pricing, Delivery_Terms_Approved    2551 non-null   int64
 5   Bureaucratic_Code_0_Approval        2551 non-null   int64
 6   Bureaucratic_Code_0_Approved        2551 non-null   int64
 7   Bureaucratic_Code                   2551 non-null   category
 8   Account_Created_Date                2551 non-null   int64
 9   Source                              2551 non-null   category
 10  Billing_Country                     2551 non-null   float64
 11  Account_Name                        2551 non-null   float64
 12  Opportunity_ID                      2551 non-null   int64
 13  Account_Owner                       2551 non-null   float64
 14  Opportunity_Owner                   2192 non-null   float64
 15  Account_Type                        2551 non-null   category
 16  Opportunity_Type                    2551 non-null   float64
 17  Quote_Type                          2551 non-null   category
 18  Delivery_Terms                      2551 non-null   float64
 19  Opportunity_Created_Date            2551 non-null   int64
 20  Brand                               2551 non-null   float64
 21  Product_Type                        2551 non-null   float64
 22  Size                                2551 non-null   float64
 23  Product_Category_B                  2551 non-null   float64
 24  Price                               160 non-null    float64
 25  Currency                            2551 non-null   float64
 26  Quote_Expiry_Date                   2551 non-null   int64
 27  Last_Modified_Date                  2551 non-null   int64
 28  Last_Modified_By                    2010 non-null   float64
 29  Product_Family                      2202 non-null   float64
 30  Product_Name                        2006 non-null   float64
 31  ASP_Currency                        2551 non-null   category
 32  ASP                                 2467 non-null   float64
 33  ASP_(converted_USD)                 2467 non-null   float64
 34  Planned_Delivery_Start_Date         2551 non-null   int64
 35  Planned_Delivery_End_Date           2551 non-null   int64
 36  Month                               2551 non-null   int64
 37  Delivery_Quarter                    2551 non-null   category
 38  Delivery_Year                       2551 non-null   int64
 39  TRF                                 2551 non-null   int64
 40  Total_Amount_Currency               2551 non-null   category
 41  Total_Amount                        2551 non-null   float64
 42  Total_Taxable_Amount_Currency       2551 non-null   category
 43  Total_Taxable_Amount                2551 non-null   float64
 44  USD_Total_Amount                    2551 non-null   float64
dtypes: category(9), float64(21), int64(15)
memory usage: 761.4 KB

##Finalmente guardamos el dataframe train en un csv

In [61]:
# from google.colab import files
# train.to_csv('data_train.csv', index=False)
# files.download('data_train.csv')

# test.to_csv('data_test.csv', index=False)
# files.download('data_test.csv')

POR SI QUEREMOS HACER GROUPBY AL PRINCIPIO

In [62]:
print('Cantidad de oportunidades distintas en train:', len(train['Opportunity_ID'].unique()))

Cantidad de oportunidades distintas en train: 9791

In [63]:
regiones_por_oportunidad = train.groupby('Opportunity_ID').agg({'Region' : 'value_counts'}) #1 a 1
stage_por_oportunidad = train.groupby('Opportunity_ID').agg({'Target' : 'value_counts'}) #1 a 1
territory_por_oportunidad = train.groupby('Opportunity_ID').agg({'Territory' : 'value_counts'}) #1 a 1
prod_flia_por_oportunidad = train.groupby('Opportunity_ID').agg({'Product_Family' : 'value_counts'}) #NO 1 a 1
# prod_flia_por_oportunidad

In [64]:
print('Cantidad de oportunidades distintas en test:', len(test['Opportunity_ID'].unique()))

Cantidad de oportunidades distintas en test: 1567

In [65]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2551 entries, 718 to 2550
Data columns (total 45 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  2551 non-null   int64
 1   Region                              2551 non-null   category
 2   Territory                           2551 non-null   float64
 3   Pricing, Delivery_Terms_Quote_Appr  2551 non-null   int64
 4   Pricing, Delivery_Terms_Approved    2551 non-null   int64
 5   Bureaucratic_Code_0_Approval        2551 non-null   int64
 6   Bureaucratic_Code_0_Approved        2551 non-null   int64
 7   Bureaucratic_Code                   2551 non-null   category
 8   Account_Created_Date                2551 non-null   int64
 9   Source                              2551 non-null   category
 10  Billing_Country                     2551 non-null   float64
 11  Account_Name                        2551 non-null   float64
 12  Opportunity_ID                      2551 non-null   int64
 13  Account_Owner                       2551 non-null   float64
 14  Opportunity_Owner                   2192 non-null   float64
 15  Account_Type                        2551 non-null   category
 16  Opportunity_Type                    2551 non-null   float64
 17  Quote_Type                          2551 non-null   category
 18  Delivery_Terms                      2551 non-null   float64
 19  Opportunity_Created_Date            2551 non-null   int64
 20  Brand                               2551 non-null   float64
 21  Product_Type                        2551 non-null   float64
 22  Size                                2551 non-null   float64
 23  Product_Category_B                  2551 non-null   float64
 24  Price                               160 non-null    float64
 25  Currency                            2551 non-null   float64
 26  Quote_Expiry_Date                   2551 non-null   int64
 27  Last_Modified_Date                  2551 non-null   int64
 28  Last_Modified_By                    2010 non-null   float64
 29  Product_Family                      2202 non-null   float64
 30  Product_Name                        2006 non-null   float64
 31  ASP_Currency                        2551 non-null   category
 32  ASP                                 2467 non-null   float64
 33  ASP_(converted_USD)                 2467 non-null   float64
 34  Planned_Delivery_Start_Date         2551 non-null   int64
 35  Planned_Delivery_End_Date           2551 non-null   int64
 36  Month                               2551 non-null   int64
 37  Delivery_Quarter                    2551 non-null   category
 38  Delivery_Year                       2551 non-null   int64
 39  TRF                                 2551 non-null   int64
 40  Total_Amount_Currency               2551 non-null   category
 41  Total_Amount                        2551 non-null   float64
 42  Total_Taxable_Amount_Currency       2551 non-null   category
 43  Total_Taxable_Amount                2551 non-null   float64
 44  USD_Total_Amount                    2551 non-null   float64
dtypes: category(9), float64(21), int64(15)
memory usage: 761.4 KB

In [66]:
regiones_por_oportunidad = test.groupby('Opportunity_ID').agg({'Region' : 'value_counts'}) #1 a 1
territory_por_oportunidad = test.groupby('Opportunity_ID').agg({'Territory' : 'value_counts'}) #NO 1 a 1 (hay 4 oportunidades sin territorio)
prod_flia_por_oportunidad = test.groupby('Opportunity_ID').agg({'Product_Family' : 'value_counts'}) #NO 1 a 1
billing_country_por_oportunidad = test.groupby('Opportunity_ID').agg({'Billing_Country' : 'value_counts'}) #NO 1 a 1

In [67]:
territory_por_oportunidad = test.groupby('Opportunity_ID').agg({'Territory' : 'value_counts'}) #NO 1 a 1
# test[test['Territory'] == 0]
test[test['Billing_Country'].isna()]

Empty DataFrame
Columns: [ID, Region, Territory, Pricing, Delivery_Terms_Quote_Appr, Pricing, Delivery_Terms_Approved, Bureaucratic_Code_0_Approval, Bureaucratic_Code_0_Approved, Bureaucratic_Code, Account_Created_Date, Source, Billing_Country, Account_Name, Opportunity_ID, Account_Owner, Opportunity_Owner, Account_Type, Opportunity_Type, Quote_Type, Delivery_Terms, Opportunity_Created_Date, Brand, Product_Type, Size, Product_Category_B, Price, Currency, Quote_Expiry_Date, Last_Modified_Date, Last_Modified_By, Product_Family, Product_Name, ASP_Currency, ASP, ASP_(converted_USD), Planned_Delivery_Start_Date, Planned_Delivery_End_Date, Month, Delivery_Quarter, Delivery_Year, TRF, Total_Amount_Currency, Total_Amount, Total_Taxable_Amount_Currency, Total_Taxable_Amount, USD_Total_Amount]
Index: []