In [74]:
import pandas as pd
import numpy as np

In [ ]:
# Como vimos en el TP1:

# En el read_csv, castear las variables a los tipos que corresponden.
# En el usecols sacar: 
#     * 'Submitted_for_Approval' (Un solo valor: 0)
#     * 'Last_Activity' (Todos nulos)
#     * 'ASP_(converted)_Currency' (Un solo valor: 'USD')
#     * 'Actual_Delivery_Date' (Todos nulos)
#     * 'Prod_Category_A' (Un solo valor: 'Prod_Category_A_None')
#     * 'Sales_Contract_No' (No permite que se realice el entrenamiento)


# ESTAS SON COLUMNAS TODAVÍA ***NO*** ELIMINADAS:
#     * 'Brand' (Muchos nulos: 15911)
#     * 'Product_Type' (Muchos nulos: 15935)
#     * 'Size' (Muchos nulos: 15967)
#     * 'Product_Category_B' (Muchos nulos: 15928)
#     * 'Price' (Muchos nulos; 15982) ----------------> si ahora lo borramos, borrar celda del replace de Price
#     * 'Currency' (Muchos nulos: 16052)

In [80]:
# train = pd.read_csv("../Train_TP2_Datos_2020-2C.csv")
# test = pd.read_csv("../Test_TP2_Datos_2020-2C.csv")

url_train = 'https://raw.githubusercontent.com/SantiagoTadini/TP2-Datos/main/Train_TP2_Datos_2020-2C.csv'
url_test = 'https://raw.githubusercontent.com/SantiagoTadini/TP2-Datos/main/Test_TP2_Datos_2020-2C.csv'
train = pd.read_csv(url_train,\
                    usecols=['ID', 'Region', 'Territory', 'Pricing, Delivery_Terms_Quote_Appr',\
                          'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval', 'Bureaucratic_Code_0_Approved',\
                          'Bureaucratic_Code', 'Account_Created_Date', 'Source ', 'Billing_Country',\
                          'Account_Name', 'Opportunity_Name', 'Opportunity_ID', 'Account_Owner',\
                          'Opportunity_Owner', 'Account_Type', 'Opportunity_Type', 'Quote_Type', 'Delivery_Terms',\
                          'Opportunity_Created_Date', 'Brand', 'Product_Type', 'Size', 'Product_Category_B', 'Price',\
                          'Currency', 'Quote_Expiry_Date', 'Last_Modified_Date', 'Last_Modified_By',\
                          'Product_Family', 'Product_Name', 'ASP_Currency', 'ASP', 'ASP_(converted)',\
                          'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date', 'Month', 'Delivery_Quarter',\
                          'Delivery_Year', 'TRF', 'Total_Amount_Currency', 'Total_Amount', 'Total_Taxable_Amount_Currency',\
                          'Total_Taxable_Amount', 'Stage'],\
                    dtype={
                          'Region' : 'category',
                          'Territory' : 'category',
                          'Bureaucratic_Code' : 'category',
                          'Source ' : 'category',
                          'Billing_Country' : 'category',
                          'Account_Name' : 'category',
                          'Opportunity_Name' : 'category',
                          'Account_Owner' : 'category',
                          'Opportunity_Owner' : 'category',
                          'Account_Type' : 'category',
                          'Opportunity_Type' : 'category',
                          'Quote_Type' : 'category',
                          'Delivery_Terms' : 'category',
                          'Brand' : 'category',
                          'Product_Type' : 'category',
                          'Size' : 'category',
                          'Product_Category_B' : 'category',
                          'Currency' : 'category',
                          'Last_Modified_By' : 'category',
                          'Product_Family' : 'category',
                          'Product_Name' : 'category',
                          'ASP_Currency' : 'category',
                          'Delivery_Quarter' : 'category',
                          'Total_Amount_Currency' : 'category',
                          'Total_Taxable_Amount_Currency' : 'category',
                          'Stage' : 'category'})
test = pd.read_csv(url_test,\
                  usecols=['ID', 'Region', 'Territory', 'Pricing, Delivery_Terms_Quote_Appr',\
                          'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval', 'Bureaucratic_Code_0_Approved',\
                          'Bureaucratic_Code', 'Account_Created_Date', 'Source ', 'Billing_Country',\
                          'Account_Name', 'Opportunity_Name', 'Opportunity_ID', 'Account_Owner',\
                          'Opportunity_Owner', 'Account_Type', 'Opportunity_Type', 'Quote_Type', 'Delivery_Terms',\
                          'Opportunity_Created_Date', 'Brand', 'Product_Type', 'Size', 'Product_Category_B', 'Price',\
                          'Currency', 'Quote_Expiry_Date', 'Last_Modified_Date', 'Last_Modified_By',\
                          'Product_Family', 'Product_Name', 'ASP_Currency', 'ASP', 'ASP_(converted)',\
                          'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date', 'Month', 'Delivery_Quarter',\
                          'Delivery_Year', 'TRF', 'Total_Amount_Currency', 'Total_Amount', 'Total_Taxable_Amount_Currency',\
                          'Total_Taxable_Amount'],\
                    dtype={
                          'Region' : 'category',
                          'Territory' : 'category',
                          'Bureaucratic_Code' : 'category',
                          'Source ' : 'category',
                          'Billing_Country' : 'category',
                          'Account_Name' : 'category',
                          'Opportunity_Name' : 'category',
                          'Account_Owner' : 'category',
                          'Opportunity_Owner' : 'category',
                          'Account_Type' : 'category',
                          'Opportunity_Type' : 'category',
                          'Quote_Type' : 'category',
                          'Delivery_Terms' : 'category',
                          'Brand' : 'category',
                          'Product_Type' : 'category',
                          'Size' : 'category',
                          'Product_Category_B' : 'category',
                          'Currency' : 'category',
                          'Last_Modified_By' : 'category',
                          'Product_Family' : 'category',
                          'Product_Name' : 'category',
                          'ASP_Currency' : 'category',
                          'Delivery_Quarter' : 'category',
                          'Total_Amount_Currency' : 'category',
                          'Total_Taxable_Amount_Currency' : 'category'})

In [81]:
# Cantidad de columnas y filas de cada set de datos
print('Cantidad de columnas de train:', len(train.columns), 'y cantidad de filas de train:', len(train))
print('Cantidad de columnas de test:', len(test.columns), 'y cantidad de filas de test:', len(test))

Cantidad de columnas de train: 46 y cantidad de filas de train: 16947
Cantidad de columnas de test: 45 y cantidad de filas de test: 2551

In [83]:
# Sacar espacio del nombre de la columna 'Source'
train.rename(columns={'Source ' : 'Source', 'ASP_(converted)' : 'ASP_(converted_USD)'}, inplace=True)

test.rename(columns={'Source ' : 'Source', 'ASP_(converted)' : 'ASP_(converted_USD)'}, inplace=True)

In [84]:
# Poner en la columna Month sólo el mes (que no aparezca el año)
train['Month'] = pd.to_datetime(train['Month'], format='%Y - %m').dt.month

test['Month'] = pd.to_datetime(test['Month'], format='%Y - %m').dt.month

In [86]:
# Pasar la columna 'Price' a numérico (incluídos los nulos)
train['Price'] = train['Price'].replace('None', np.NaN)
train['Price'] = train['Price'].replace('Other', np.NaN)
train['Price'] = train['Price'].astype('float')

test['Price'] = test['Price'].replace('None', np.NaN)
test['Price'] = test['Price'].replace('Other', np.NaN)
test['Price'] = test['Price'].astype('float')

In [89]:
# Pasar las columnas de fechas a formato datetime
formato_fecha = '%m/%d/%Y'
train['Account_Created_Date'] = pd.to_datetime(train['Account_Created_Date'], format=formato_fecha) # ver fecha fila 0
train['Opportunity_Created_Date'] = pd.to_datetime(train['Opportunity_Created_Date'], format=formato_fecha) # ver fecha fila 77
train['Quote_Expiry_Date'] = pd.to_datetime(train['Quote_Expiry_Date'], format=formato_fecha) # ver fecha fila 0
train['Last_Modified_Date'] = pd.to_datetime(train['Last_Modified_Date'], format=formato_fecha) # ver fecha fila 0
train['Planned_Delivery_Start_Date'] = pd.to_datetime(train['Planned_Delivery_Start_Date'], format=formato_fecha) # ver fechas filas 0 y 1, comparar el mes con month
train['Planned_Delivery_End_Date'] = pd.to_datetime(train['Planned_Delivery_End_Date'], format=formato_fecha) # ver fecha fila 0

test['Account_Created_Date'] = pd.to_datetime(test['Account_Created_Date'], format=formato_fecha) # ver fecha fila 0
test['Opportunity_Created_Date'] = pd.to_datetime(test['Opportunity_Created_Date'], format=formato_fecha) # ver fecha fila 77
test['Quote_Expiry_Date'] = pd.to_datetime(test['Quote_Expiry_Date'], format=formato_fecha) # ver fecha fila 0
test['Last_Modified_Date'] = pd.to_datetime(test['Last_Modified_Date'], format=formato_fecha) # ver fecha fila 0
test['Planned_Delivery_Start_Date'] = pd.to_datetime(test['Planned_Delivery_Start_Date'], format=formato_fecha) # ver fechas filas 0 y 1, comparar el mes con month
test['Planned_Delivery_End_Date'] = pd.to_datetime(test['Planned_Delivery_End_Date'], format=formato_fecha) # ver fecha fila 0

In [53]:
# train.info()

# test.info()

Aquí ya no tenemos ningún feature de tipo object.

In [48]:
# train.head(10)

In [49]:
# test.head(10)

Eliminamos las filas que no son Closed Won o Closed Lost

In [22]:
# Vemos los posibles valores que puede adoptar 'Stage'
train['Stage'].value_counts()

Closed Won       9533
Closed Lost      7350
Proposal           35
Negotiation        18
Qualification      11
Name: Stage, dtype: int64

In [33]:
# Tenemos que de 16947 filas en total, solo 64 (0.3776%) NO son Closed Won o Closed Lost, es por
# eso que eliminamos esas filas, su aporte es mínimo.
train.drop(train[(train['Stage'] != 'Closed Won') & (train['Stage'] != 'Closed Lost')].index, inplace=True)
train['Stage'].value_counts()

Closed Won     9533
Closed Lost    7350
Name: Stage, dtype: int64

## Stage a binary

In [ ]:
#Hay que ver que hacemos con los negotiation, proposal, qualification

train['Target'] = train['Stage'].replace({'Closed Won': 1, 'Closed Lost': 0,
                                          'Negotiation': 0, 'Proposal': 0, 'Qualification': 0})

In [ ]:
train['Target'].astype(int)

0        0
1        1
2        1
3        0
4        0
        ..
16942    1
16943    1
16944    1
16945    0
16946    0
Name: Target, Length: 16947, dtype: int32

## Precio en dolares

In [ ]:
change_USD = 1 #1 dolar EEUU = 1 dolar EEUU
change_EUR = 1.1745 #1 euro = 1,1745 dolares EEUU
change_AUD = 0.71601 # 1 dolar australiano = 0.71601 dolar EEUU
change_JPY = 0.0094800 # 1 yen japones = 0,0094800 dolares EEUU
change_GBP = 1.2935 # 1 libra esterlina = 1,2935 dolares EEUU

In [ ]:
filtro_USD_train = train['Total_Amount_Currency'] == 'USD'
filtro_EUR_train = train['Total_Amount_Currency'] == 'EUR'
filtro_AUD_train = train['Total_Amount_Currency'] == 'AUD'
filtro_JPY_train = train['Total_Amount_Currency'] == 'JPY'
filtro_GBP_train = train['Total_Amount_Currency'] == 'GBP'

In [ ]:
train.loc[filtro_USD_train, 'USD_Total_Amount'] = train.loc[filtro_USD_train, 'Total_Amount']*change_USD
train.loc[filtro_EUR_train, 'USD_Total_Amount'] = train.loc[filtro_EUR_train, 'Total_Amount']*change_EUR
train.loc[filtro_AUD_train, 'USD_Total_Amount'] = train.loc[filtro_AUD_train, 'Total_Amount']*change_AUD
train.loc[filtro_JPY_train, 'USD_Total_Amount'] = train.loc[filtro_JPY_train, 'Total_Amount']*change_JPY
train.loc[filtro_GBP_train, 'USD_Total_Amount'] = train.loc[filtro_GBP_train, 'Total_Amount']*change_GBP

In [ ]:
train['USD_Total_Amount'] = train['USD_Total_Amount'].round(2)

In [ ]:
filtro_USD_test = test['Total_Amount_Currency'] == 'USD'
filtro_EUR_test = test['Total_Amount_Currency'] == 'EUR'
filtro_AUD_test = test['Total_Amount_Currency'] == 'AUD'
filtro_JPY_test = test['Total_Amount_Currency'] == 'JPY'
filtro_GBP_test = test['Total_Amount_Currency'] == 'GBP'

In [ ]:
test.loc[filtro_USD_test, 'USD_Total_Amount'] = test.loc[filtro_USD_test, 'Total_Amount']*change_USD
test.loc[filtro_EUR_test, 'USD_Total_Amount'] = test.loc[filtro_EUR_test, 'Total_Amount']*change_EUR
test.loc[filtro_AUD_test, 'USD_Total_Amount'] = test.loc[filtro_AUD_test, 'Total_Amount']*change_AUD
test.loc[filtro_JPY_test, 'USD_Total_Amount'] = test.loc[filtro_JPY_test, 'Total_Amount']*change_JPY
test.loc[filtro_GBP_test, 'USD_Total_Amount'] = test.loc[filtro_GBP_test, 'Total_Amount']*change_GBP

In [ ]:
test['USD_Total_Amount'] = test['USD_Total_Amount'].round(2)

## Mean encoding por Region

In [ ]:
mean_encoded_region = train.groupby(['Region'])['Target'].mean().to_dict()
train['Region'] =  train['Region'].map(mean_encoded_region)

test['Region'] = test['Region'].map(mean_encoded_region)